{% extends "SkedAppCoreBundle::layout.html.twig" %}

{% block title %}Invite a friend{% endblock %}

{% block alert %}
    {% include "::alert.html.twig" %}
{% endblock %}  

{% block body %}
<div class="row-fluid body-main rounded-all">
    <div class="span5">
        <div class="forms-background">
            <h3>Invite a friend</h3>
            {% include "SkedAppCoreBundle:Invite:form.invite.friend.loggedin.html.twig" %}
        </div>
     </div>
     <div class="span7">
        <div class="hint-box">
            <h3><span class="asterisk">*</span>Hints</h3>
            <ol>
                    <li>Provide your friend's name.</li>
                    <li>Provide your friend's email address.</li>                    
            </ol>
        </div>            	
    </div>
</div> <!-- End .row-fluid -->
{% endblock body %}
