{% extends "SkedAppCategoryBundle::layout.html.twig" %}
{% block title %}Add a new category{% endblock %}

{% block body %}
    {% block menu %}
        <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %} 
            </div>       
    {% endblock menu %}    
    {% block content %}
    <div class="span9">
        <h3>Add a new category</h3>
        <br />
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
        {#start form display===============================#}
            {% include "SkedAppCategoryBundle:Category:form.create.html.twig" %}
        {#end form display===============================#}   
    </div>  
    {% endblock content %}   
{% endblock body %}