{% extends "SkedAppServiceBundle::layout.html.twig" %}
{% block title %}Edit category{% endblock %}

{% block body %}
<div class="row-fluid body-secondary">
    <div class="span5">
        <div class="dash-forms-background">
        <h3>Edit category</h3>
        {% include "SkedAppCategoryBundle:Category:form.edit.html.twig" %}
        </div>
    </div>
    <div class="span7">
        <div class="map-box">
                <h3><span class="asterisk">*</span>Hint</h3>
            Remember to validate your email as soon as you have submitted the form.
            <div class="spacer1"></div>
                <div class="g-maps"></div> <!-- Temp Map -->
        </div> <!-- End map-box -->
    </div>
 </div>	 
{% endblock body %}