{% extends "SkedAppServiceBundle::layout.html.twig" %}
{% block title %}Edit category{% endblock %}

{% block body %}
   {% block menu %}
   <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %} 
    </div>       
    {% endblock menu %}    
    {% block content %}
    <div class="span9">
        <h3>Edit category</h3>
        <div class="span9" style="margin-left: -15px">
           {% set vars = {'action': 'Edit'} %}
           {% include 'SkedAppCategoryBundle::breadcrumb.html.twig' with vars  %}
        </div>
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
        <div class="span9" style="margin-left: 0px">
        {#start form display===============================#}
            {% include "SkedAppCategoryBundle:Category:form.edit.html.twig" %}
        {#end form display===============================#}  
        </div>        
    </div>  
    {% endblock content %}   
{% endblock body %}