{% extends "SkedAppServiceBundle::layout.html.twig" %}
{% block title %}Edit category{% endblock %}

{% block body %}
   {% block menu %}
   <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %} 
    </div>       
    {% endblock menu %}    
    {% block content %}
    <div class="span9">
                <h3>Edit category</h3>
                <br />
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
        {#start form display===============================#}
            {% include "SkedAppCategoryBundle:Category:form.edit.html.twig" %}
        {#end form display===============================#}   
    </div>  
    {% endblock content %}   
{% endblock body %}