{% extends "SkedAppCategoryBundle::layout.html.twig" %}
{% block title %}List categories{% endblock %}

{% block body %}
<div class="container">
    {% block menu %}
        <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %} 
            </div>       
    {% endblock menu %}    
    {% block content %}
            <div class="span7">
                <h4>List categories</h4>
                <br />
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
            {% include "SkedAppCategoryBundle:Category:list.table.html.twig" %}
            </div>  
    {% endblock content %}   
        </div>
{% endblock body %}

