{% extends "SkedAppCategoryBundle::layout.html.twig" %}
{% block title %}List categories{% endblock %}

{% block body %}
    {% block menu %}
    <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %} 
    </div>       
    {% endblock menu %}    
    {% block content %}
     <div class="span9">
        <h3>List categories</h3>
        <div class="span5" style="margin-left: -15px">
           {% set vars = {'action': 'List'} %}
           {% include 'SkedAppCategoryBundle::breadcrumb.html.twig' with vars  %}
        </div>
        <div class="span3 pull-right">
            <span><a href="{{ path('sked_app_category_new') }}" class="btn btn-warning btn-small pull-right"><i class="icon-white icon-plus-sign"></i> Add Category</a></span>
        </div>        
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
        <div class="span9" style="margin-left: 0px">
            {% include "SkedAppCategoryBundle:Category:list.table.html.twig" %}
        </div>        
     </div>  
    {% endblock content %}   
{% endblock body %}

