{% extends "SkedAppCategoryBundle::layout.html.twig" %}
{% block title %}View category details{% endblock %}

{% block body %}
    {% block content %}
     <div class="span9">
       
        <div class="span9" style="margin-left: -15px">
           {% set vars = {'action': 'Show'} %}
           {% include 'SkedAppCategoryBundle::breadcrumb.html.twig' with vars  %}
        </div>
<div class="spacer1"></div>
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
  </div>
<div class="clearfix"></div>
        <div class="row-fluid body-main">
        <div class="span5">
        <div class="forms-background">
        <h4>Category profile</h4>
        <div class="spacer1"></div>
        <div style="margin-left: 0px"><img src="/uploads/categories/{{ category.id }}.{{ category.path }}" style="width:150px; height:120px; float: left;" alt="profile picture" class="img-polaroid"></div>
        <div class="span7">
            <p><strong>Name</strong>: <span class="gray-text">{{ category.name }} </span></p>
            <p>
                <strong>Description</strong>:
                <br /><br /> <span class="gray-text"> {{ category.description|raw }} </span>
            </p>
        </div>
<div class="clearfix"></div>
        </div>
  </div>
    </div>
    {% endblock content %}

{% endblock body %}