{% extends "SkedAppCategoryBundle::layout.html.twig" %}
{% block title %}View category details{% endblock %}

{% block body %}
<div class="container">
    {% block menu %}
        <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %}
            </div>
    {% endblock menu %}
    {% block content %}
            <div class="span7">
                <h4>Category</h4>
                <br />
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
            <div class="row">
                <div class="span2"><img src="/uploads/categories/{{ category.id }}.{{ category.path }}" width="150px" height="120px" alt="profile picture" class="img-polaroid"></div>
                <div class="span4">
                    <p><strong>Name</strong>: {{ category.name }} </p>
                    <p>
                        <strong>Description</strong>:
                        <br /><br /> {{ category.description|raw }}
                    </p>
                </div>
            </div>
    {% endblock content %}
        </div>
{% endblock body %}