
{% extends "SkedAppCustomerBundle::layout.html.twig" %}
{% block title %}My bookings{% endblock %}


{% block menu %}
           {% include "SkedAppCustomerBundle::menu.html.twig" with {'customer' : customer , 'controller' : 'bookings' } %} 
{% endblock menu %} 

{% block body %}
<div class="row-fluid body-secondary">
    <div class="span12">
        <h3>My bookings</h3>
        <div style="width: 395px;" class="span6 pull-right">
                
                <form class="form-inline pull-right">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-search" ></i></span>
                        <input style="border-radius: 0;" name="searchText" title="search" type="text" value="" placeholder="search" class="input-small search" />
                        <input style="height: 30px; border-radius: 0 4px 4px 0;" type="submit" value="GO!" class="btn btn-warning search-button" />
                    </div>
                </form>
            </div>
        {% include "SkedAppCustomerBundle:Bookings:customer.list.table.html.twig" %}
    </div> <!-- Dashboard Content --> 
</div>  
{% endblock body %}