.body-background{
    background-color: #ffffff;
}

.blockWrapper{
	background: #fff;
	padding: 10px;
	border: 1px solid #ccc;
}

.-box-blue-wrapper {
	margin: -1px 0 -1px -1px;
	padding: 0;
	background-color: #ffffff;
	border: 1px solid #025b99;
	-moz-box-shadow: inset 0px 0px 1px #ffffff;
	-webkit-box-shadow: inset 0px 0px 1px #ffffff;
	box-shadow: inset 0px 0px 1px #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#02b2e9', endColorstr = '#0379aa');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#02b2e9', endColorstr = '#0379aa')";
	background-image: -moz-linear-gradient(top, #02aee4, #0379aa);
	background-image: -ms-linear-gradient(top, #02aee4, #0379aa);
	background-image: -o-linear-gradient(top, #02aee4, #0379aa);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#02aee4), to(#0379aa));
	background-image: -webkit-linear-gradient(top, #02aee4, #0379aa);
	background-image: linear-gradient(top, #02aee4, #0379aa);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	position:relative;
	padding: 1.25em;
	z-index: 3;
  box-shadow: 0px 1px 6px #555A55;
}
.ui-corner-all {
    border-radius: 0.6em 0.6em 0.6em 0.6em;
    box-shadow: 0 2px 2px #555555;
}
.ui-body-c, .ui-overlay-c {
    border: none;
    color: #333;
    text-shadow: none;
}
.image-handler{
  width: 201px;
  height: 140px;
  padding: 10px 0 5px 0;
}
.titleHeader{
  color: #fff;
  text-shadow: none;
}
.rounded-all {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.spacer1 {
	height: 1em;
}
.spacer2 {
	height: 2em;
}
.skedappLogo{
  background-image: url('../img/skedapp_background.png');
  border: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 1px #ccc;
  margin-top: -16px;
  text-align: center;
}
.orange-buttons{
  background: #FAA732;
  border: 1px solid #FAA732;
  box-shadow: 0 2px 2px #555555;
}
.pull-right {
    float: right;
}
.white-bg {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 10px;
}
input.ui-input-text {
    font-weight: bold;
}
.ui-btn-text{
  text-align: left;
  font-weight: bold;
  margin-left: 0px;
}
.ui-btn-corner-all, .ui-btn-corner-all {
    border-radius: 0.6em 0.6em 0.6em 0.6em;
}
.ui-btn-inner {
    padding: 0.6em 5px;
}
