.body-background{
    background-color: #ffffff;
}
.gray-text{
  color: #333;
}
.nameTags{
  font-weight:bold;
  font-size: 13px;
}
.button-shadow{
  box-shadow: 0 2px 2px #555555;
}
.blockWrapper{
	background-color: #FFF;
  border: 1px solid #666;
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
}
.-box-blue-wrapper {
	margin: -1px 0 -1px -1px;
	padding: 0;
	background-color: #ffffff;
	border: 1px solid #025b99;
	-moz-box-shadow: inset 0px 0px 1px #ffffff;
	-webkit-box-shadow: inset 0px 0px 1px #ffffff;
	box-shadow: inset 0px 0px 1px #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#02b2e9', endColorstr = '#0379aa');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#02b2e9', endColorstr = '#0379aa')";
	background-image: -moz-linear-gradient(top, #02aee4, #0379aa);
	background-image: -ms-linear-gradient(top, #02aee4, #0379aa);
	background-image: -o-linear-gradient(top, #02aee4, #0379aa);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#02aee4), to(#0379aa));
	background-image: -webkit-linear-gradient(top, #02aee4, #0379aa);
	background-image: linear-gradient(top, #02aee4, #0379aa);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	position:relative;
	padding: 1.25em;
	z-index: 3;
  box-shadow: 0px 1px 6px #555A55;
}
.body-secondary {
    background-color: #EEEEEE;
    border: 1px solid #E1E1E1;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 1px #FFFFFF inset;
    color: #333333;
}
.ui-corner-all {
    border-radius: 0.6em 0.6em 0.6em 0.6em;
    box-shadow: 0 2px 2px #555555;
}
.ui-body-c, .ui-overlay-c {
    border: none;
    color: #333;
    text-shadow: none;
    font-size: 12px;
}
.image-handler{
  width: 201px;
  height: 140px;
  padding: 10px 0 5px 0;
}
.titleHeader{
  color: #fff;
  text-shadow: none;
}
.rounded-all {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.spacer1 {
	height: 1em;
}
.spacer2 {
	height: 2em;
}
.skedappLogo{
  background-image: url('../img/skedapp_background.png');
  border: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
  margin-top: -16px;
  text-align: center;
}
.orange-buttons{
  background: #FAA732;
  border: 1px solid #FF9933;
  box-shadow: 0 2px 2px #555555;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.white-bg {
    background-color: #FFF;
    border: 1px solid #666;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
}
input.ui-input-text {
    font-weight: normal;
}
.ui-btn-text{
  text-align: left;
  margin-left: 0px;
}
.imageWrapper{
  border: 1px solid #CCCCCC;
  float: left;
  margin-right: 5px;
  padding: 2px;
}
.paddingBottom15px{
  float: left;
}
.tableWrapper{
  clear: both;
}
.ui-btn-corner-all, .ui-btn-corner-all {
    border-radius: 0.6em 0.6em 0.6em 0.6em;
}
.ui-btn-inner {
    padding: 0.6em 5px;
}
.ui-header .ui-title, .ui-footer .ui-title {
    text-align: left;
    margin: 0.6em 2% 0.8em;
}
#div-search-results a{
  background: #FAA732;
  padding: 0 3px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
.lisa-joy-2 a:hover{
  text-decoration: none;
}
.ui-body-c .ui-link {
    color: #fff;
    font-weight: normal;
    border-radius: 2px 2px 2px 2px; 
}
.person-details-labels{
  font-size: 13px;
}
.descriptionDetails{
  font-size: 13px;
}
.center-aligned{
  text-align: center;
  font-size: 12px;
}
.shadow {
    position: relative;
    top: -1px;
    width: 100%;
    z-index: 5;
}
h1,h2,h3,h4,h5,h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  text-rendering: optimizelegibility;
}
.marginTop10px {
  *zoom: 1;
}
.marginTop10px:before,
.marginTop10px:after {
  display: table;
  line-height: 0;
  content: "";
}
.marginTop10px:after {
  clear: both;
}