{% extends "SkedAppCoreBundle::security.layout.html.twig" %}
{% block title %}Welcome, please sign in{% endblock %}

{% block body %}
<div class="row-fluid body-main rounded-all">
    <div class="span5">
        <div class="forms-background">
            <h3>Login</h3>

            {% if booking_attempt is defined %}
                <form action="{{ path('_security_check', {'booking_attempt': booking_attempt, 'company_id': company_id, 'consultant_id': consultant_id, 'booking_date': booking_date, 'timeslot_start': timeslot_start, 'service_ids': service_ids}) }}" method="POST">
            {% else %}
                <form action="{{ path('_security_check') }}" method="POST">
            {% endif %}
                    <fieldset>
                        <label>Email Address</label>
                        <input type="text" class="span12" id="username" name="_username" placeholder="john.smith@example.com" required>
                        <div class="spacer1"></div>
                        <label>Password</label>
                        <input type="password" type="password" class="span12" id="password" name="_password" placeholder="password" required>
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group">
                                <button class="btn btn-warning">Submit <i class="icon-white icon-circle-arrow-right"></i></button>
                            </div>
                            <div class="btn-group">
                                <button class="btn">Cancel</button>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    </fieldset>
                </form>
        </div>
     </div>
     <div class="span7">
        <div class="hint-box">
            <h3><span class="asterisk">*</span>Hints</h3>
            <ol>
                    <li>Provide a valid email address.</li>
                    <li><a href="{{ path('sked_app_member_reset')}}">Forgot your password?</a></li>
            </ol>
        </div>            	
    </div>
</div> <!-- End .row-fluid -->
{% endblock body %}