{% extends "SkedAppCoreBundle::security.layout.html.twig" %}
{% block title %}Welcome, please sign in{% endblock %}

{% block stylesheets %}
<link href="{{ asset('/css/login.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<div class="container">
    <div class="span8">
        <h4>Please login</h4>
        <br />
        {% if error %}
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Warning!</h4>
            Your username and password are invalid, please try again or contact support.
        </div>
        {% endif %}
        
        <form class="form-horizontal" action="{{ path('_security_check') }}" method="POST">
            <legend><span class="label label-info">Info</span> <small>All form fields are required.</small></legend>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="username">Email address</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="username" name="_username" rel="popover" value="mlankag@gmail.com" data-content="Enter your assigned username." data-original-title="Username" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" class="input-xlarge" id="password" name="_password" rel="popover" data-content="Enter your choosen password." data-original-title="Password" required>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" name="submit" class="btn btn-primary" data-toggle="button">Login &nbsp;&nbsp;<i class="icon-white icon-circle-arrow-right"></i></button>
                    <a href="{{ path('_welcome')}}" class="btn">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>    
    <div class="span3 pull-right">
        <div class="well emphasize-dark">
            <h4><i class="icon-info-sign"></i> Having login trouble? </h4>
            <br />
            <p class="pull-right">
                Please provide the email address and password combination you used when creating the account.  
            </p>
            <br />
            <p>
                <a href="#" >Create an account</a>  
            </p>
            <p>
                <a href="#" >Forgot password</a>
            </p>
        </div> 
    </div>
</div>
{% endblock body %}