<div class="well sidebar-nav emphasize-dark" style="margin-top: 20px;">
    <ul class="nav nav-list">
        {% if is_granted('ROLE_SITE_USER') %}
        <li><a href="{{ path('sked_app_customer_list_bookings' , {'id':customer.id }) }}"><i class="icon-chevron-right"></i>My bookings</a></li>
        {% endif %}
    </ul>
</div><!--/.well -->
