{% extends "SkedAppCompanyBundle::layout.html.twig" %}
{% block title %}Edit company{% endblock %}

{% block body %}
<div class="container">
    {% block menu %}
        <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %}
            </div>
    {% endblock menu %}
    {% block content %}
            <div class="span7">
                <h4>Edit service provider</h4>
                <br />
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
        {#start form display===============================#}
            {% include "SkedAppCompanyBundle:Company:form.edit.html.twig" %}
        {#end form display===============================#}
            </div>
    {% endblock content %}
        </div>
{% endblock body %}