{% extends "SkedAppCompanyBundle::layout.html.twig" %}
{% block title %}Edit company{% endblock %}

{% block stylesheets %}
<link href="{{ asset('/css/googlemap.css') }}" rel="stylesheet">
<link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
{% endblock %}

{% block jquery_ui %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>
<script type='text/javascript' src='{{ asset('/js/jquery.ui.addresspicker.js') }}'></script>
{% endblock jquery_ui %}

{% block body %}
<div class="container">
    {% block menu %}
        <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %}
            </div>
    {% endblock menu %}
    {% block content %}
            <div class="span7">
                <h4>Edit service provider</h4>
                <br />
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
        {#start form display===============================#}
            {% include "SkedAppCompanyBundle:Company:form.edit.html.twig" %}
        {#end form display===============================#}
            </div>
    {% endblock content %}
        </div>
{% endblock body %}