{% extends "SkedAppCompanyBundle::layout.html.twig" %}
{% block title %}List service providers{% endblock %}

{% block body %}
    {% block menu %}
    <div class="span3 bs-docs-sidenav">
        {% include "::menu.html.twig" %}
    </div>
    {% endblock menu %}
    {% block content %}
    <div class="span9">
        <h3>Manage service providers</h3>
        <br />
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
            {% include "SkedAppCompanyBundle:Company:list.table.html.twig" %}
    </div>
    {% endblock content %}
{% endblock body %}