<section>
    <table id="sortable" class="table table-striped table-condensed tablesorter">
        <tbody>
          {% for consultant in pagination %}
          <tr>
            <td>
                {% include "SkedAppSearchBundle:Search:consultant.html.twig" %}
            </td>
          </tr>
          {% else %}
               <tr>
                  <td colspan="3">
                      <h4>We could not find anyone to help you out. Please try another search.</h4>
                  </td>
                </tr>
          {% endfor %}
        </tbody>
 </table>
    <div class="pagination pull-right">
        {{ pagination.render()|raw }}
    </div>
</section>


