<section>
    {% for consultant in pagination %}
         {% include "SkedAppSearchBundle:Search:consultant.html.twig" %}
          <div style="clear: both;"></div>
    {% else %}
        <h4>We could not find anyone to help you out. Please try another search.</h4>
    {% endfor %}
    <div style="clear: both;"></div>
    <div class="pagination pull-right">
        {{ pagination.render(null, paginatorVariables)|raw }}
    </div>
</section>
