<div class="span12">
    {% for consultant in pagination %}
         {% include "SkedAppSearchBundle:Search:consultant.html.twig" %}
    {% else %}
        <div>
            <p><span class="label label-important">Oopps!!</span>, We could not find anyone to help you out. Please try another search.</p>
        </div>
    {% endfor %}
</div>

