{% extends "SkedAppSearchBundle::layout.html.twig" %}
{% block title %}Search Results{% endblock %}

{% block content %}

        <div class="span12 pull-right"><a href="#" onclick="ShowHideSearchForm(this); return false;">Show Search Form</a></div>
        <div id="divSearchForm">
            {%include "SkedAppSearchBundle:Search:search.area.html.twig" %}
        </div>

        <div class="span12">
            <h3>Search results</h3>
            {% include "SkedAppSearchBundle:Search:list.table.html.twig" %}
        </div>
{% endblock content %}