<div class="map-box">
    <div class="map-container">
        <div id="map_canvas" class="img-polaroid mapRadius"></div>
    </div>
    <div class="map-box-instructions">
        <small class="whiteText">Use the controls on the map to pinpoint your position.</br> Click and hold to drag the marker to where you are.</small>
    </div>
    <div class="clearfix"></div>
    <div class="social-box">
            Find us on Facebook or Twitter
            <a href="http://www.facebook.com/pages/Skedapp/420977264645890" target="_blank"><img src="{{ asset('/img/facebook.png') }}"/></a>
            <a href="https://twitter.com/skedapp" target="_blank"><img src="{{ asset('/img/twitter.png') }}"/></a>
    </div>
</div>