{% extends "SkedAppSearchBundle::layout.html.twig" %}
{% block title %}Search Results{% endblock %}

{% block body %}
<div class="span12">
    <br />
    <div class="span6" style="margin-left: -20px"><h2>Your search results</h2></div>
    <div class="span5 pull-right" style="margin-right: 30px;padding-top: 15px;" ><button id="searchToggle" class="btn btn-warning pull-right" >Search again &nbsp;&nbsp;<i class="icon-white icon-circle-arrow-right"></i></button></div>
    <br />
    {% block alert %}
        {% include "::alert.html.twig" %}
    {% endblock %}
    
    <div id="searchFrm">
        {%include "SkedAppSearchBundle:Search:search.area.html.twig" %}
    </div>
    <div id="searchResults">
        {% include "SkedAppSearchBundle:Search:search.results.html.twig" %}
    </div>
    
            
</div>
{% endblock %}
