{% extends "SkedAppConsultantBundle::layout.html.twig" %}
{% block title %}SkedApp | Consultant Book out{% endblock %}

{% block stylesheets %}
<link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
{% endblock %}

{% block jquery_ui %}
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>
{% endblock jquery_ui %}

{% block alert %}
    {% include "::alert.html.twig" %}
{% endblock %}      
    
{% block body %}
<div class="row-fluid body-secondary">
    <div class="span5">
        <div class="dash-forms-background">
        <h3>Book out consultant</h3>
        {% include "SkedAppConsultantBundle:Booking:form.booking.out.html.twig" %}
        </div>
    </div>
    <div class="span7">
        <div class="map-box">
            <h3><span class="asterisk">*</span>Hint</h3>
            <ol>
                <li>Provide a unique <span class="label label-inverse">Email Address</span> for the consultant.</li>
                <br />
            </ol>
        </div>
    </div>
</div>  
{% endblock body %}