
<ul class="breadcrumb">
    <li>
        <a href="{{ path('_welcome')}}">Home</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="{{ path('sked_app_category_list')}}">Categories</a> <span class="divider">/</span>
    </li>
    <li class="active">{{ action }}</li>
</ul>

