{% extends "SkedAppCoreBundle::base.mail.html.twig" %}
{% block body %}
    <p style="margin-bottom: 6pt;">Hello {{ fullName }},</p>
    <p style="margin-bottom: 6pt;">Unfortunately the time slot you have chosen with {{company}} cannot be confirmed at this time.</p>
    <p style="margin-bottom: 6pt;">Please select another time slot to make a booking.</p>
    <p style="margin-bottom: 6pt;">We apologize for the inconvenience this might have caused. </p>
{% endblock body %}