{% extends "SkedAppCoreBundle::base.mail.html.twig" %}
{% block body %}
    <p style="margin-bottom: 6pt;">Hi {{ fullName }},</p>
    <p style="margin-bottom: 6pt;">This email confirms your booking cancellation.</p>
    <p style="margin-bottom: 6pt;"></p>
    <p style="margin-bottom: 6pt;">Your booking details are as follows:</p>
    <p style="margin-bottom: 6pt;"><strong>Consultant</strong>: {{ consultant }} <br/> <strong>Service to be tendered </strong>: {{ service }} <br /><strong>Date</strong>: {{ date }}</p>
{% endblock body %}