
<html>
    <head>
        <style type="text/css">
                html {-webkit-text-size-adjust:none;}
                body {background-color: #F4F4F4; padding:0; margin:0; width:100%; margin:0 auto;}
                *[class].tdwrap{display: inline-block !important;}
                *[class].vspacer{ margin-left: 50px; }
                *[class].responsive-50per{ width: 50% !important; }
                *[class].responsive-75per{ width: 75% !important; }
                @media all and (max-width: 590px){
                    *[class].responsive{width:320px !important;}
                    *[class].responsive-spacer table{width: 20px !important; }
                    *[class].vspacer{ margin-top: 10px !important; margin-bottom: 15px !important; margin-left: 0 !important; }
                    *[class].res-font16{font-size:16px !important;}
                    *[class].res-font12{font-size:12px !important;}
                    *[class].res-font18{font-size:18px !important;}
                    *[class].res-font18 span{font-size: 18px !important;}
                    *[class].responsive-50per{ width: 100% !important;}
                    *[class].responsive-spacer70{ width: 70px !important; }
                    *[class].hideIMG{ height: 0px !important; width: 0px !important; }
                    *[class].res-height20{ height: 20px !important; }
                    *[class].res-height20 div{ height: 20px !important; }
                    *[class].res-height10{ height: 10px !important; }
                    *[class].res-height10 div{ height: 10px !important; }
                    *[class].res-height0 { height: 0px !important; }
                    *[class].res-height0 div{ height: 0px !important; }
                    *[class].res-width280{ width: 280px !important; }
                    *[class].res-width25{ width: 25px !important; }
                    *[class].res-width10{ width: 10px !important; }
                    *[class].res-width10 table{ width: 10px !important; }
                    *[class].res-padding{ width: 0 !important; }
                    *[class].res-padding table{ width: 0 !important; }
                    *[class].cellpadding-none{ width: 0px !important; }
                    *[class].cellpadding-none table{ border: collapse !important; }
                    *[class].cellpadding-none table td{ padding: 0 !important; }
                    *[class].display-none{ display: none !important; }
                    *[class].remove-margin{ margin: 0 !important; }
                    *[class].remove-border{ border: none !important; }
                    *[class].res-img100{ width: 100px !important; height: 100px !important; }
                    *[class].res-img320{width: 320px !important; height: auto !important; position: relative;}
                    *[class].res-border{border-top: 1px solid #E1E1E1 !important;}
                    *[class].mobile-hidden{ display: none !important; height: 0px !important; width:0px !important; }
                    *[class].full-width{ width:100% !important; }
                }

                @media only screen and (max-device-width: 480px) {
                    p[class=anet-digest-activity],
                    span[class=anet-digest-count],
                    td[class=anet-digest-right-rail] {
                        display:none;
                    }
                }

        </style>
    </head>
    <body >
        <table border="0" width="550" cellpadding="0" cellspacing="0" style="max-width:550px; border-top:4px solid #39C; font: 12px arial, sans-serif; margin: 0 auto;" class="">
            <tr>
                <td>
                    <h1 style="color: #000; font: bold 23px arial; margin:5px 0;" class="">SkedApp</h1>
                    <p style="margin-bottom: 6pt;">Hi {{ fullName }},</p>
                    <p style="margin-bottom: 6pt;">This email confirms your booking cancellation.</p>
                    <p style="margin-bottom: 6pt;"></p>
                    <p style="margin-bottom: 6pt;">Your booking details are as follows:</p>
                    <p style="margin-bottom: 6pt;"><strong>Consultant</strong>: {{ consultant }} <br/> <strong>Service to be tendered </strong>: {{ service }} <br /><strong>Date</strong>: {{ date }}</p>
                    <p style="margin-bottom: 6pt;"><br />Thank you,</p>
                    <p style="margin-bottom: 6pt;">The SkedApp Team</p>
                    <table border="0" cellspacing="0" cellpadding="0" style="font-family:Arial;" width="100%" class="responsive">
                        <tr>
                            <td>
                                <table width="1" border="0" cellspacing="0" cellpadding="0" class="">
                                    <tr>
                                        <td>
                                            <div style="height:10px;font-size:10px;line-height:10px;">&nbsp;</div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" style="font-size:11px; font-family:Arial,sans-serif; color:#999999;">
                               &copy; 2012, SkedApp. Pretoria , Gauteng , South Africa
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="1" border="0" cellspacing="0" cellpadding="0" class="">
                                    <tr>
                                        <td>
                                            <div style="height:10px;font-size:10px;line-height:10px;">&nbsp;</div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
        </table>
    </body>
 </html>