{% extends "SkedAppCoreBundle::base.mail.html.twig" %}
{% block body %}
    <p style="margin-bottom: 6pt;">Hi {{ fullName }},</p>
    <p style="margin-bottom: 6pt;">You have successfully registered an account on SkedApp.</p>
    <p style="margin-bottom: 6pt;"></p>
    <p style="margin-bottom: 6pt;">Please click and follow the link below to verify your email and activate the account.<br /><a style="color: #006699;" href="{{ link }}">{{ link }}</a></p>
{% endblock body %}