{% extends "SkedAppMemberBundle::layout.html.twig" %}

{% block title %}Create an new password{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <h3 class="align_header">Create an new password</h3>
           <br />
    </div>
</div>
<div class="row">
   <div class="span9">
        {% include "SkedAppMemberBundle:Reset:form.reset.password.change.html.twig" %}
   </div>
   <div class="span3">
        <div class="well emphasize-dark">
            <h4><i class="icon-info-sign"></i>&nbsp; Hints </h4>
            <br />
            <p class="pull-right">
                    <ol>
                        <li>Provide a strong password with a combination of letters and numbers.</li>
                    </ol>
            </p>
        </div>
    </div>
</div>
{% endblock body %}
