{% extends "SkedAppMemberBundle::layout.html.twig" %}

{% block title %}SkedApp | Invalid Link{% endblock %}

{% block alert %}
    {% include "::alert.html.twig" %}
{% endblock %}  

{% block body %}
<div class="row-fluid body-secondary">
    <div class="span12">
        <h3>Please Check Your Email</h3>
        <div class="spacer1"></div>
        <p><span class="label label-important">Invalid link</span>, Please follow the instructions sent you via email.</p>
     </div> <!-- Dashboard Content --> 
</div>
{% endblock body %}