{% extends "SkedAppMemberBundle::layout.html.twig" %}

{% block title %}Please check your email{% endblock %}

{% block alert %}
    {% include "::alert.html.twig" %}
{% endblock %}  

{% block body %}
<div class="row-fluid body-secondary">
    <div class="span12">
        <h3>Please check your email</h3>
        <div class="spacer1"></div>
         <p>We've sent you an email that will allow you to reset your password quickly and easily. Please check your email now.</p>
     </div> <!-- Dashboard Content --> 
</div>
{% endblock body %}
