{% extends "SkedAppMemberBundle::layout.html.twig" %}

{% block title %}Create an new password{% endblock %}

{% block body %}
<div class="span9">
    <h3 class="align_header">Create an new password</h3>
    <br />
    {% include "SkedAppMemberBundle:Reset:form.reset.password.change.html.twig" %}
</div>
<div class="span3">
    <div class="well emphasize-dark">
        <h3><i class="icon-info-sign"></i>&nbsp; Hints </h3>
            <br />
            <p class="pull-right">
                    <ol>
                        <li>Provide a strong password with a combination of letters and numbers.</li>
                    </ol>
            </p>
    </div>
</div>
{% endblock body %}
