{% extends "SkedAppMemberBundle::layout.html.twig" %}

{% block title %}Reset password{% endblock %}

{% block body %}
<div class="row-fluid body-main rounded-all">
    <div class="span5">
        <div class="forms-background">
            <h3>Reset password</h3>
            {% include "SkedAppMemberBundle:Reset:form.reset.password.request.html.twig" %}
        </div>
     </div>
     <div class="span7">
        <div class="hint-box">
            <h3><span class="asterisk">*</span>Hints</h3>
            <ol>
                    <li>Provide a valid email address.</li>
                    
            </ol>
        </div>            	
    </div>
</div> <!-- End .row-fluid -->
{% endblock body %}
