{% extends "SkedAppCompanyBundle::layout.html.twig" %}
{% block title %}Add service provider{% endblock %}

{% block stylesheets %}
<link href="{{ asset('/css/googlemap.css') }}" rel="stylesheet">
<link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
{% endblock %}

{% block jquery_ui %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>
<script type='text/javascript' src='{{ asset('/js/jquery.ui.addresspicker.js') }}'></script>
{% endblock jquery_ui %}

{% block alert %}
    {% include "::alert.html.twig" %}
{% endblock %}  

{% block body %}
<div class="row-fluid body-secondary">
    <div class="span5">
        <div class="dash-forms-background">
            <h3>Add service provider</h3>
            {% include "SkedAppCompanyBundle:ServiceProvider:form.create.html.twig" %}
        </div>
     </div>
     <div class="span7">
        <div class="hint-box">
            <h3><span class="asterisk">*</span>Hints</h3>
            <ol>
                <li>Provide the <span class="label label-inverse">Name</span> of the business.</li>
                <br />
                <li>Provide a valid <span class="label label-inverse">Contact number</span> of the business.</li>
                <br />
                <li>Provide a <span class="label label-inverse">Profile pictire</span> of the business.</li>
                <br />
                <li>Provide a <span class="label label-inverse">Description</span> of the business.</li>

            </ol>
            <br />
            <div id="map" style="width: 100%; border-radius: 5px;"></div>
            <small class="whiteText">Use the controls on the map to pinpoint your position.</br> Click and hold to drag the marker to where you are.</small>
        </div>            	
    </div>
</div> <!-- End .row-fluid -->
<script type="text/javascript">
$(document).ready(function() {
    if (blnAddress) {
        var addresspickerMap = $( "#Company_address" ).addresspicker({
            regionBias: "za",
            mapOptions: {
                zoom: 10
            },
            elements: {
                map:      "#map",
                lat:      "#Company_lat",
                lng:      "#Company_lng",
                locality: '#Company_locality',
                //		    administrative_area_level_2: '#administrative_area_level_2',
                //		    administrative_area_level_1: '#administrative_area_level_1',
                country:  '#Company_country'
            //		    postal_code: '#postal_code',
            //        type:    '#type'
            }
        });

        var gmarker = addresspickerMap.addresspicker( "marker");
        gmarker.setVisible(true);

        var image = new google.maps.MarkerImage("http://maps.google.com/mapfiles/marker.png",
            // This marker is 20 pixels wide by 34 pixels tall.
            new google.maps.Size(20, 34)
            );

        gmarker.setIcon (image);
        addresspickerMap.addresspicker( "updatePosition");
    }


});
</script>
{% endblock body %}