{% extends "SkedAppCoreBundle::layout.html.twig" %}
{% block title %}SkedApp | About Us{% endblock %}

{% block alert %}
    {% include "::alert.html.twig" %}
{% endblock %}

{% block body %}

<div class="span12">
     <div class="about-us-shadow">
        <div class="about-us-shadow-banner"><img src="{{ asset('/img/about-us.jpg') }}"></div>
     </div>
     <div>
     <h3>About Us</h3>
     <p>
     Founded in 2012 and based in Pretoria, South Africa our aim is to improve accessibility to medical professionals with a free service to the public. This service gives medical professionals on-line visibility and enhances their productivity and efficiency. Skedapp allows the public to see the real-time availability of a medical professional and instantly book an appointment via our web site and free app, which will be launched soon on Android devices and the Apple iStore.
     </p>
     </div>
</div>
<div class="clearfix"></div>       


{% endblock %}