{% extends "SkedAppCoreBundle::layout.html.twig" %}
{% block title %}Welcome{% endblock %}


{% block body %}
        <div class="span12">
            {#start form display===============================#}
                {% include "SkedAppSearchBundle:Search:form.search.html.twig" %}
            {#end form display===============================#}
        </div>        
{% endblock %}