{% extends "SkedAppCoreBundle::layout.html.twig" %}
{% block title %}Welcome{% endblock %}

{% block body %}
<br />
    <h3 style="float: right;">Search , Locate services in your area.</h3>
    <br />

<div class="span12" style="background: transparent url(../img/greyBackground.jpg) repeat 0 0; border-radius: 0 8px 8px 0; height: 371px; padding-top: 40px;">
    

        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}

        {%include "SkedAppSearchBundle:Search:search.area.html.twig" %}
</div>

{% endblock %}