{% extends "SkedAppCoreBundle::layout.html.twig" %}
{% block title %}Welcome{% endblock %}

{% block body %}
    <br />
    <br />

<div class="span12 greyBackground">
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}

        {%include "SkedAppSearchBundle:Search:search.area.html.twig" %}
</div>

{% endblock %}