{% extends "SkedAppCoreBundle::layout.html.twig" %}
{% block title %}SkedApp | Schedule Your Life{% endblock %}

{% block body %}
<div class="spacer2"></div>
<div class="row-fluid body-main rounded-all">
    {% block alert %}
        {% include "::alert.html.twig" %}
    {% endblock %}

    {%include "SkedAppSearchBundle:Search:search.area.html.twig" %}
</div>

{% endblock %}