{% extends "SkedAppCoreBundle::layout.html.twig" %}
{% block title %}Welcome{% endblock %}

{% block body %}
        <div class="span12">
            <br />
            <h1>Search , Locate <small> services in your area.</small></h1>
        </div>        
        {%include "SkedAppSearchBundle:Search:search.area.html.twig" %}       
{% endblock %}