{% extends "SkedAppCoreBundle::layout.html.twig" %}
{% block title %}SkedApp | Schedule Your Life{% endblock %}

{% block display_logo %}
    <div class="row-fluid">
        <div class="span3">
            <a href="{{ path('_welcome')}}" class="logo"><img src="{{ asset('/img/skedapp-logo.png') }}" width="172" height="130" alt="SkedApp" title="SkedApp" /></a>
        </div>
        <div class="span9">
            <div class="spacer1"></div>
            <img src="/img/free-banner.png" width="454" height="109" class="pull-right" />
        </div>
    </div> <!-- End .row-fluid -->
    <div class="spacer2"></div>
{% endblock display_logo %}

{% block body %}
<div class="spacer2"></div>
<div class="row-fluid body-main rounded-all">
    {% block alert %}
        {% include "::alert.html.twig" %}
    {% endblock %}

    {%include "SkedAppSearchBundle:Search:search.area.html.twig" %}
</div>

{% endblock %}