{% extends "SkedAppCoreBundle::layout.html.twig" %}
{% block title %}Welcome{% endblock %}

{% block body %}
    <br />
    <br />

<div class="span12" style="background: transparent url(../img/greyBackground.jpg) repeat 0 0; border-radius: 0 8px 8px 0; height: 421px; padding-top: 40px; margin-left: 0px;">
    

        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}

        {%include "SkedAppSearchBundle:Search:search.area.html.twig" %}
</div>

{% endblock %}