{% extends "SkedAppCoreBundle::layout.html.twig" %}
{% block title %}SkedApp | Terms & Conditions{% endblock %}

{% block body %}

<h3>Terms & Conditions</h3>

<ol>
    <li><a href="#about-us">About the Site</a></li>
    <li><a href="#no-advice">We Do Not Provide any Advice</a></li>
    <li><a href="#client-relationship">No Doctor / Patient and or Lawyer / Client Relationship  </a></li>
    <li><a href="#authorization">Authorization and Acknowledgement; Important Information About Provider Relationships and Lists</a></li>
    <li><a href="#editorial-control">Editorial Control</a></li>
    <li><a href="#registration">Registration</a></li>
    <li><a href="#personal-info">Your Personal Information</a></li>
    <li><a href="#responsibilities">Your Responsibilities</a></li>
    <li><a href="#terms-changes">Changes to These Terms of Use</a></li>
    <li><a href="#service-changes">Changes to the Services</a></li>
    <li><a href="#external-links">Links to Other Sites</a></li>
    <li><a href="#additional-terms">Additional Terms</a></li>
    <li><a href="#spam">No Spam</a></li>
    <li><a href="#your-content">Content You Post or Submit</a></li>
    <li><a href="#use-of-content">Your Use of Content</a></li>
    <li><a href="#disclaimer-of-warranties">Disclaimer of Warranties</a></li>
    <li><a href="#general-limitation">General Limitation of Liability</a></li>
    <li><a href="#termination">Termination</a></li>
    <li><a href="#indemnification">Indemnification</a></li>
    <li><a href="#electronic-contracting">Electronic Contracting and Notices</a></li>
    <li><a href="#copyright-dispute-policy">Copyright Dispute Policy</a></li>
    <li><a href="#entire-agreement">Entire Agreement</a></li>
    <li><a href="#choice-of-law">Choice of Law and Dispute Resolution</a></li>
    <li><a href="#assignment">Assignment</a></li>
    <li><a href="#eligibility">Eligibility</a></li>
</ol>

<p>The following terms and conditions constitute an agreement between you and SkedApp (Pty) Ltd (“SkedApp,” “we,” or “us”), the operator of SkedApp.co.za (the “Site”). These terms of use (the “Terms of Use”) govern your use of the Site, both as a casual visitor and as a registered user.</p>

<p>BY USING THE SITE, AND/OR BY REGISTERING WITH US, YOU SIGNIFY THAT YOU AGREE TO THESE TERMS OF USE, including that you consent to the information practices disclosed in our Privacy Policy, which is incorporated herein by reference, and that you consent to resolve in the North Gauteng, South Africa any dispute that you may have with us, or the Site. Please note that we offer the Site "AS IS" and without warranties. If you are registering an account or using the Site on behalf of an individual or entity other than yourself, you represent that you are authorized by such individual or entity to accept these Terms of Use on such individual's or entity's behalf.</p>

<div id="about-us"></div>
<h4>1. About the Site</h4>

<p>Everything we offer on the Site is referred to in these Terms of Use collectively as the "Services". Some of what is on the Site is viewable without registering with us, but to actively participate or store your information, you must register as a member and authorize the use and disclosure of your personal and health information for purposes of allowing us to provide the Services and as otherwise disclosed in our Privacy Policy.</p>

<p>You acknowledge that although some of the content, text, data, graphics, images, information, suggestions, guidance, and other material (collectively, “Information”) that is provided to you on the Site (including Information provided in direct response to your questions or postings) may be provided by individuals in the medical and or legal profession, the provision of such Information does not create a medical/legal professional patient/client relationship, and does not constitute an opinion, medical advice, or diagnosis or treatment of any particular condition, but is provided to assist you with locating an appropriate service provider from a qualified practitioner.</p>
<a href="#top">back to top</a>

<div id="no-advice"></div>
<h4>2. We Do Not Provide any Advice</h4>
<p>The Information that you obtain or receive from SkedApp, and its employees, contractors, partners, sponsors, advertisers, licensors or otherwise on the Site is for informational and scheduling purposes only. THE INFORMATION PROVIDED ON THE SITE AND IN ANY OTHER COMMUNICATIONS FROM OR PROVIDED THROUGH SKEDAPP IS NOT INTENDED AS A SUBSTITUTE FOR, NOR DOES IT REPLACE, PROFESSIONAL ADVICE, DIAGNOSIS, OR TREATMENT. DO NOT DISREGARD, AVOID OR DELAY OBTAINING MEDICAL ADVICE FROM A QUALIFIED HEALTH CARE PROFESSIONAL BECAUSE OF SOMETHING YOU MAY HAVE READ ON THE SITE. DO NOT USE THE SITE FOR EMERGENCY MEDICAL NEEDS. IF YOU EXPERIENCE A MEDICAL EMERGENCY CALL YOUR CLOSEST MEDICAL PROFESSIONAL. YOUR USE OF INFORMATION PROVIDED ON THE SITE IS SOLELY AT YOUR OWN RISK. NOTHING STATED OR POSTED ON THE SITE OR AVAILABLE THROUGH ANY SERVICES IS INTENDED TO BE, AND MUST NOT BE TAKEN TO BE, THE PRACTICE OF MEDICINE OR THE PROVISION OF MEDICAL CARE.</p>

<p>We do not recommend or endorse any specific tests, doctors, dentists, health care providers, procedures, opinions, or other information that may appear on the Site. If you rely on any of the Information provided by the Site, you do so solely at your own risk.</p>
<a href="#top">back to top</a>

<div id="client-relationship"></div>
<h4>3. No Doctor / Patient and or Lawyer / Client Relationship</h4>
<p>NO LICENSED MEDICAL PROFESSIONAL/PATIENT RELATIONSHIP NOR LEGAL PROFESSIONAL/CLIENT RELATIONSHIP IS CREATED BY USING INFORMATION PROVIDED BY OR THROUGH THE USE OF THE SITE OR THROUGH ANY OTHER COMMUNICATIONS FROM SKEDAPP INCLUDING, BUT NOT LIMITED TO, THE “FIND A PROVIDER”, LINKS TO OTHER SITES OR ANY ASSISTANCE WE MAY PROVIDE TO HELP YOU FIND AN APPROPRIATE PROFESSIONAL OR SPECIALIST IN ANY FIELD.</p>

<p>WE MAKE NO GUARANTEES, REPRESENTATIONS OR WARRANTIES, WHETHER EXPRESSED OR IMPLIED, WITH RESPECT TO PROFESSIONAL QUALIFICATIONS, EXPERTISE, QUALITY OF WORK OR OTHER INFORMATION HEREIN. FURTHERMORE, WE DO NOT IN ANY WAY ENDORSE ANY INDIVIDUAL DESCRIBED HEREIN. IN NO EVENT SHALL WE BE LIABLE TO YOU OR ANYONE ELSE FOR ANY DECISION MADE OR ACTION TAKEN BY YOU IN RELIANCE ON SUCH INFORMATION.</p>

<p>We have no control over, and cannot guarantee the availability of any Provider at any particular time. We will not be liable for cancelled or otherwise unfulfilled appointments or any injury resulting therefrom, or for any other injury resulting from the use of the Site or Services whatsoever.</p>

<p>You are strongly advised to perform your own investigation prior to selecting a service provider by making confirming telephone calls to the appropriate licensing authorities to verify listed credentials and education, and to further verify information about a particular provider (“Provider”) by confirming with the Provider’s office any information your require to be verified.</p>
<a href="#top">back to top</a>

<div id="authorization"></div>
<h4>4. Authorization and Acknowledgement; Important Information About Provider Relationships and Lists</h4>
In connection with using the Site and the Services to locate and schedule appointments with service providers, you understand that:
<ul>
    <li>YOU ARE ULTIMATELY RESPONSIBLE FOR CHOOSING YOUR OWN PROVIDER.</li>
    <li>SkedApp selects Providers to be listed on the Site pursuant to a contractual agreement with the Providers.</li>
    <li>In addition to signing a contract, Providers must pay a fee to SkedApp in order to appear on the Site.</li>
    <li>SkedApp will provide you with lists and/or profile previews of Providers who may be suitable to deliver the service that you are seeking based on information that you provide to SkedApp (such as proximity to your geographical location, and specialty of the Provider). In an effort to aid in the discovery of Providers and enable the maximum choice and diversity of Providers who participate in the Services, these lists and/or profile previews may also be based on other criteria (including, for example, Provider availability, past selections by and/or ratings of Providers by you or by other SkedApp users, and past experience of SkedApp users with Providers); but SkedApp (i) does not recommend or endorse any Providers, (ii) does not make any representations or warranties with respect to these Providers or the quality of the healthcare services they may provide, and (iii) does not receive any additional fees from Providers for featuring them through the Services.</li>
    <li>SkedApp uses reasonable efforts to ensure that Providers only participate in the Services if they hold active licenses and all certifications necessary to practice any specialty of the services offered by them to patients/clients, and who remain qualified. SkedApp may also exclude Providers who, in SkedApp’s discretion, have engaged in inappropriate or unprofessional conduct.</li>
    <li>If you elect to enter information into a medical history form ("Medical History Form") on behalf of yourself or a third party from whom you have authorization to provide such information, on your request you authorize us to provide such information to the specified Provider. You acknowledge and agree that such information will be reviewed and approved by you or someone authorized on your behalf at the time of your appointment to ensure its accuracy. You also acknowledge that SkedApp may use the data or information you provide on a Medical History Form in accordance with its Privacy Policy.</li>
</ul>
<a href="#top">back to top</a>

<div id="editorial-control"></div>
<h4>5. Editorial Control</h4>
<p>We make the Site available as a service to consumers and Providers for the purposes of providing an informative and educational resource. We may, but have no obligation to, have Information posted on the Site reviewed by the Site’s editorial personnel. It is important to note, however, that the timeliness and accuracy of any or all of the Information is not guaranteed. Neither the authors, the editorial personnel, nor any other party who has been involved in the preparation or publication of this work can assure you that the Information contained herein is in every respect accurate or complete, and they are not responsible for any errors or omissions or for the results obtained from the use of such Information.</p>

<p>You are encouraged to independently confirm the Information contained herein with other sources and to seek the advice of a qualified physician.</p>

<p>PRACTITIONER INFORMATION: Provider and practice information found on the Site is intended for general reference purposes only. Provider information found on the Site is both self-reported, by the Provider and/or office staff, and collected from multiple other data sources that may not be confirmed by the Provider. Such information often changes frequently and may become out of date or inaccurate. Neither the Site nor SkedApp provides any advice or qualification certification about any particular Provider. Our relationship with Providers in a particular area is based on criteria we establish. You are encouraged to independently verify any such information.</p>

<p>PROCEDURES/PRODUCTS/SERVICES: The procedures, products, services and devices discussed and/or advertised within the Site are not applicable to all individuals or all situations. We make no claims as to the effectiveness of any such procedures, products, services or devices. Any products and/or services represented on the Site by advertisers, sponsors, and other Site participants, either paid or unpaid, are presented for your awareness and do not necessarily imply appropriateness for any particular individual or prediction of effectiveness, outcome or success.</p>
<a href="#top">back to top</a>

<div id="registration"></div>
<h4>6. Registration</h4>
<p>As part of the registration process, you will provide an e-mail address and create a password. These are your credentials for accessing the Services that are only available to members ("Credentials"). You should keep your Credentials private and not share your Credentials with anyone else. You are responsible for notifying us if your password has been hacked or stolen. You may notify us by sending an email to <a href="mailto:info@skedapp.co.za">info@skedapp.co.za</a></p>
<a href="#top">back to top</a>

<div id="personal-info"></div>
<h4>7. Your Personal Information</h4>
<p>In order to register, you must provide certain personal information about yourself. You may voluntarily submit, and hereby authorize SkedApp, its employees, agents and others operating on its behalf, to use and/or disclose personal and health-related information about you, including, without limitation, your name, address, identification number and contact information; medical and social history; current medical needs; and other information that is either requested by SkedApp or volunteered by you ("Personal Information") in order to provide the Services to you, in accordance with our Privacy Policy. Please review it carefully, as your use of the Site constitutes your agreement to the Privacy Policy.</p>
<a href="#top">back to top</a>

<div id="responsibilities"></div>
<h4>8. Your Responsibilities</h4>
<p>Even though the Services are provided free of charge, the usual and customary charges for any services rendered by collaborating Providers profiled on the Site will apply and will be entirely your responsibility.</p>

<p>You are responsible for all use of the Site and for all use of your Credentials, including use by others to whom you have given your Credentials. You may use the Site and the Services for lawful, non-commercial purposes only. You may not use the Site in any manner that could damage, disable, overburden, or impair our servers or networks, or interfere with any other party's use and enjoyment of the Site or the Services. You may not attempt to gain unauthorized access to any of the Services, user accounts, or computer systems or networks, through hacking, password mining or any other means. Without limiting any of the foregoing, you agree that you shall not (and you agree not to allow any third party to):</p>
<ul>
    <li>copy, modify, adapt, translate, or reverse engineer any portion of the Site, its content or materials and/or the Services;</li>
    <li>remove any copyright, trademark or other proprietary rights notices contained in or on the Site and/or the Services or in or on any content or other material obtained via the Site and/or the Services;</li>
    <li>use any robot, spider, site search/retrieval application, or other automated device, process or means to access, retrieve or index any portion of the Site and/or the Services;</li>
    <li>access, retrieve or index any portion of the Site and/or the Services for purposes of constructing or populating a searchable database of reviews related to the health care industry or Providers;</li>
    <li>reformat or frame any portion of the web pages that are part of the Site and/or the Services;</li>
    <li>fraudulently misuse the Services by scheduling an appointment with a Provider which you have no intention of keeping;</li>
    <li>create user accounts by automated means or under false or fraudulent pretenses;</li>
    <li>collect or store personal data about other users in connection with the prohibited activities described in this paragraph; or</li>
    <li>use any means, including software means, to conduct web scraping of any portion of the Site, its content or materials and/or the Services.</li>
</ul>
<p>In addition to our rights in these Terms of Use, we may take any legal action and implement any technical remedies to prevent the violation of this provision and to enforce these Terms of Use.</p>
<a href="#top">back to top</a>

<div id="terms-changes"></div>
<h4>9. Changes to These Terms of Use</h4>
<p>We may change these Terms of Use at any time, as we reasonably deem appropriate. Upon any change in these Terms of Use, we will post the amended agreement on the Site; we may also attempt to notify you in some other way. Your continued use of the Site and/or the Services following such posting shall constitute your affirmative acknowledgement of the Terms of Use, the modification, and agreement to abide and be bound by the Terms of Use, as amended. If at any time you choose not to accept these Terms of Use, including following any such modifications hereto, then please do not use the Site.</p>
<a href="#top">back to top</a>

<div id="service-changes"></div>
<h4>10. Changes to the Services</h4>
<p>We may from time to time add new services to the Services, substitute a new service for one of the existing Services, or discontinue or suspend one of the existing Services. Information about the new services will be included on the Site, and the use of new services will be governed by these Terms of Use. You agree that SkedApp will not be liable to you or any third party for any suspension or discontinuation of any of the Services.</p>
<a href="#top">back to top</a>

<div id="external-links"></div>
<h4>11. Links to Other Sites</h4>
<p>The Site may include links to other websites, including links provided as automated search results. Some of these sites may contain materials that are objectionable, unlawful, or inaccurate. These links are provided for your convenience only and do not mean that we endorse these sites or the products and services they provide. You acknowledge and agree that we are not responsible or liable for the content or accuracy of these other sites.</p>
<a href="#top">back to top</a>

<div id="additional-terms"></div>
<h4>12. Additional Terms</h4>
<p>Certain of the Services on the Site may have additional terms (such as policies, guidelines, and rules) that will further govern your use of that particular Service and supplement these Terms of Use. If you choose to register for or access any such Services, you will be presented with any relevant additional terms and conditions at that time. By using those Services, you agree to comply with such additional guidelines and rules.</p>
<a href="#top">back to top</a>

<div id="spam"></div>
<h4>13. No Spam</h4>
<p>You may not use contact information provided by our users or collaborating Providers, or harvest such information for the purpose of sending, or to facilitate the sending, of unsolicited bulk communications such as SPAM. You may not allow others to use your account to violate the terms of this section. We may terminate your membership or access to the Site immediately and take other legal action if you or anyone using your Credentials violates these provisions.</p>
<a href="#top">back to top</a>

<div id="your-content"></div>
<h4>14. Content You Post or Submit</h4>
<p>You will have the opportunity to submit feedback regarding your experiences with Providers who are featured on the Site, to submit inquiries concerning possible medical needs and to participate in the other interactive and community features of the Site (collectively “Posted Information”). It is important that you act responsibly when providing Posted Information. In providing feedback, please give clear, honest information about the Provider and your experiences, but do not use inappropriate language, make gratuitous personal criticisms or comments or provide information that others could use to determine your identity. When participating in other interactive or community aspects of the Service, please do not post any information that another user or Provider may use to identify you as an individual, but please do include all relevant information in a concise manner to help us provide you with a helpful response.</p>

<p>We reserve the right to publish your Posted Information as part of the Service and to also remove your Posted Information for any reason. We are not, however, responsible for any failure or delay in removing Posted Information. Keep in mind that the Posted Information of others is simply opinion and should not be relied on. In addition:</p>
<ul>
    <li>You are solely responsible for any Posted Information that you submit, publish or display on the Site or transmit to other members and/or other users of the Site.</li>
    <li>You may not post, distribute, or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior written consent of the owner of such proprietary rights. You may not submit any content or material that infringes, misappropriates or violates the intellectual property, publicity, privacy or other rights of any party.</li>
    <li>You may not provide any Posted Information that falsely expresses or implies that such content or material is sponsored or endorsed by SkedApp.</li>
    <li>You may not provide any Posted Information that is unlawful or that promotes or encourages illegal activity.</li>
    <li>You understand and agree that SkedApp may (but is not obligated to) review and delete any Posted Information that in the sole judgment of SkedApp violates these Terms of Use or which might be offensive, illegal, or that might violate the rights of, harm, or threaten the safety of other users or members of the Site and/or other website users.</li>
    <li>You agree that you will only provide Posted Information that you believe to be true and you will not purposely provide false or misleading information.</li>
    <li>By posting Posted Information on the Site, you agree to and hereby do grant, and you represent and warrant that you have the right to grant, SkedApp, its contractors, and the users of the Site an irrevocable, perpetual, royalty-free, fully sublicensable, fully paid up, worldwide license to use, copy, publicly perform, digitally perform, publicly display, and distribute such Posted Information and to adapt, edit, translate, prepare derivative works of, or incorporate into other works, such Posted Information. This license is non-exclusive, except you agree that SkedApp shall have the exclusive right to practice this license to the extent of combining your Posted Information with the Posted Information of other SkedApp users for purposes of constructing or populating a searchable database of reviews and information related to the health care industry.</li>
    <li>The following is a partial list of the kind of content and communications that are illegal or prohibited on/through the Site. SkedApp reserves the right to investigate and take appropriate legal action in its sole discretion against anyone who violates this provision, including without limitation, removing the offending communication from the Services and terminating the membership of such violators or blocking your use of the Services and/or the Site. You may not post content that:
        <ul>
            <li>is false or intentionally misleading;</li>
            <li>harasses or advocates harassment of another person;</li>
            <li>involves the transmission of unsolicited mass mailing or "spamming";</li>
            <li>violates the intellectual property or other rights of any person;</li>
            <li>is threatening, obscene, defamatory or libelous; or</li>
            <li>is pornographic or sexually explicit in nature.</li>
        </ul>
    </li>
</ul>
<a href="#top">back to top</a>

<div id="use-of-content"></div>
<h4>15. Your Use of Content</h4>
<p>All of the Information available on or through the Services and/or the Site, including without limitation, text, photographs, graphics and video and audio content, is owned by us and our licensors and is protected by copyright, trademark, patent, and trade secret laws, other proprietary rights, and international treaties. You acknowledge that the Services and any underlying technology or software used in connection with the Services contain SkedApp’s proprietary information. We give you permission to use the aforementioned content for personal, non-commercial purposes only and do not transfer any intellectual property rights to you by virtue of permitting your use of the Services. You may print, download, and store information from the Site for your own convenience, but you may not copy, distribute, republish (except as permitted in this paragraph), sell, or exploit any of the content, or exploit the Site in whole or in part, for any commercial gain or purpose whatsoever. Except as is expressly and unambiguously provided herein, SkedApp and its suppliers do not grant you any express or implied rights, and all rights in the Site and the Services not expressly granted by SkedApp to you are retained by SkedApp.</p>
<a href="#top">back to top</a>

<div id="disclaimer-of-warranties"></div>
<h4>16. Disclaimer of Warranties</h4>
<p>We have no special relationship with or fiduciary duty to you. You acknowledge that we have no control over, and no duty to take any action regarding: which users gain access to the Site and/or the Services; what content you access via the Site and/or the Services; what effects the content on the Site and/or the Services may have on you; how you may interpret or use the content on the Site and/or the Services; or what actions you may take as a result of having been exposed to the content on the Site and/or the Services. You release us from all liability for you having acquired or not acquired content through the Site and/or the Services. The Site and/or the Services may contain, or direct you to websites containing, information that some people may find offensive or inappropriate. We make no representations concerning any content contained in or accessed through the Site and/or the Services, and we will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Site and/or the Services. We make no representations or warranties regarding suggestions or recommendations of services or products offered or purchased through the Site and/or the Services. WE PROVIDE THE SITE AND THE SERVICES “AS IS”, “WITH ALL FAULTS” AND “AS AVAILABLE.” WE MAKE NO EXPRESS OR IMPLIED WARRANTIES OR GUARANTEES ABOUT THE SERVICES. TO THE MAXIMUM EXTENT PERMITTED BY LAW, WE HEREBY DISCLAIM ALL SUCH WARRANTIES, INCLUDING ALL STATUTORY WARRANTIES, WITH RESPECT TO THE SERVICES AND THE SITE, INCLUDING WITHOUT LIMITATION ANY WARRANTIES THAT THE SERVICES ARE MERCHANTABLE, OF SATISFACTORY QUALITY, ACCURATE, FIT FOR A PARTICULAR PURPOSE OR NEED, OR NON-INFRINGING. WE DO NOT GUARANTEE THAT THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICES WILL BE EFFECTIVE, RELIABLE OR ACCURATE OR WILL MEET YOUR REQUIREMENTS. WE DO NOT GUARANTEE THAT YOU WILL BE ABLE TO ACCESS OR USE THE SERVICES (EITHER DIRECTLY OR THROUGH THIRD-PARTY NETWORKS) AT TIMES OR LOCATIONS OF YOUR CHOOSING. WE ARE NOT RESPONSIBLE FOR THE ACCURACY, RELIABILITY, TIMELINESS OR COMPLETENESS OF INFORMATION PROVIDED BY USERS OF THE SITE OR ANY OTHER DATA OR INFORMATION PROVIDED OR RECEIVED THROUGH THE SITE. EXCEPT AS EXPRESSLY SET FORTH HEREIN, SKEDAPP MAKES NO WARRANTIES ABOUT THE INFORMATION SYSTEMS, SOFTWARE AND FUNCTIONS MADE ACCESSIBLE THROUGH THE SITE OR ANY OTHER SECURITY ASSOCIATED WITH THE TRANSMISSION OF SENSITIVE INFORMATION. SKEDAPP DOES NOT WARRANT THAT THE SITE OR THE SERVICES WILL OPERATE ERROR-FREE, THAT LOSS OF DATA WILL NOT OCCUR, OR THAT THE SERVICES, SOFTWARE OR SITE ARE FREE OF COMPUTER VIRUSES, CONTAMINANTS OR OTHER HARMFUL ITEMS.</p>
<a href="#top">back to top</a>

<div id="general-limitation"></div>
<h4>17. General Limitation of Liability</h4>
<p>YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY DISPUTE WITH US IS THE CANCELLATION OF YOUR REGISTRATION. IN NO EVENT SHALL OUR TOTAL CUMULATIVE LIABILITY TO YOU FOR ANY AND ALL CLAIMS RELATING TO OR ARISING OUT OF YOUR USE OF THE SERVICES OR THE SITE, REGARDLESS OF THE FORM OF ACTION, EXCEED THE GREATER OF: (A) THE TOTAL AMOUNT OF FEES, IF ANY, THAT YOU PAID TO REGISTER FOR THE SITE OR THE SERVICES OR (B) R200. IN NO EVENT SHALL WE BE LIABLE TO YOU (OR TO ANY THIRD PARTY CLAIMING UNDER OR THROUGH YOU) FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES ARISING FROM YOUR USE OF, OR INABILITY TO USE, THE SITE AND/OR THE SERVICES. THESE EXCLUSIONS APPLY TO ANY CLAIMS FOR LOST PROFITS, LOST DATA, LOSS OF GOODWILL, WORK STOPPAGE, COMPUTER FAILURE OR MALFUNCTION, ANY OTHER COMMERCIAL DAMAGES OR LOSSES, OR MEDICAL / LEGAL MALPRACTICE OR NEGLIGENCE OF PROVIDERS UTILIZED THROUGH USE OF THE SERVICE, EVEN IF WE KNEW OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES. BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR THE LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH PROVINCES OR JURISDICTIONS, OUR LIABILITY SHALL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.</p>
<a href="#top">back to top</a>

<div id="termination"></div>
<h4>18. Termination</h4>
<p>We may terminate and/or suspend your registration immediately, without notice, if there has been a violation of these Terms of Use or other policies and terms posted on the Site by you or by someone using your Credentials. We may also cancel or suspend your registration for any other reason, including inactivity for an extended period, but will attempt to notify you in advance of such cancellation or suspension. SkedApp shall not be liable to you or any third party for any termination of your access to the Site and/or the Services. Further, you agree not to attempt to use the Site and/or the Services after any such deletion, deactivation or termination (provided, in the case of deactivation due exclusively to your inactivity, you may re-register). Sections 2, 3, 4, 14, 16, 17, 18, 19, 20 and 22 through 25 shall survive any termination or expiration of these Terms of Use.</p>
<a href="#top">back to top</a>

<div id="indemnification"></div>
<h4>19. Indemnification</h4>
<p>Upon a request by us, you agree to defend, indemnify, and hold harmless us, our employees, contractors, officers, directors, agents, parent, other affiliated companies, suppliers, successors, and assigns from all liabilities, claims, demands and expenses, including attorney's fees, made by any third party that arise from or are related to (a) your access to the Site, (b) your use of the Services, or (c) the violation of these Terms of Use, or of any intellectual property or other right of any person or entity, by you or any third party using your Credentials. The foregoing indemnification obligation does not apply to liabilities, claims and expenses arising as a result of our own gross negligence or intentional misconduct.</p>
<a href="#top">back to top</a>

<div id="electronic-contracting"></div>
<h4>20. Electronic Contracting and Notices</h4>
<p>Your affirmative act of using this Site and/or registering for the Site or the Services constitutes your electronic signature to these Terms of Use, which includes our Privacy Policy, and your consent to enter into agreements with us electronically.</p>
<a href="#top">back to top</a>

<div id="copyright-dispute-policy"></div>
<h4>21. Copyright Dispute Policy</h4>
<p>It is SkedApp’s policy to (a) block access to or remove material that it believes in good faith to be copyrighted material that has been illegally copied and distributed by any of our advertisers, affiliates, content providers, members or users; and (b) remove and discontinue Service to repeat offenders.</p>
<p>Procedure for Reporting Copyright Infringements.  If you believe that material or content residing on or accessible through the Site or the Services infringes a copyright, please send a notice of copyright infringement containing the following information to the person/institution listed below ("Proper Bona Fide Infringement Notification"):</p>
<ul>
    <li>A physical or electronic signature of a person authorized to act on behalf of the owner of the copyright that has been allegedly infringed;</li>
    <li>Identification of works or materials being infringed;</li>
    <li>Identification of the material that is claimed to be infringing including information regarding the location of the infringing materials that the copyright owner seeks to have removed, with sufficient detail so that SkedApp is capable of finding and verifying its existence;</li>
    <li>Contact information about the notifier including address, telephone number and, if available, email address;</li>
    <li>A statement that the notifier has a good faith belief that the material is not authorized by the copyright owner, its agent, or the law; and</li>
    <li>A statement made under penalty of perjury that the information provided is accurate and the notifying party is authorized to make the complaint on behalf of the copyright owner.</li>
</ul>

Upon Receipt of a Bona Fide Infringement Notification.  Once a Proper Bona Fide Infringement Notification is received by the person/institution, it is SkedApp’s policy:
<ul>
    <li>to remove or disable access to the infringing material;</li>
    <li>to notify the content provider, member or user that it has removed or disabled access to the material; and</li>
    <li>that for repeat offenders, SkedApp will also terminate such content provider's, member's or user's access to the Service.</li>
</ul>

<p>Procedure to Supply a Counter-Notice to the Designated person/institution.  If the content provider, member or user believes that the material that was removed or to which access was disabled is either not infringing, or the content provider, member or user believes that it has the right to post and use such material from the copyright owner, the copyright owner's agent, or pursuant to the law, the content provider, member or user must send a counter-notice containing the following information to the Designated person/institution listed below:</p>
<ul>
    <li>A physical or electronic signature of the content provider, member or user;</li>
    <li>Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or disabled;</li>
    <li>A statement that the content provider, member or user has a good faith belief that the material was removed or disabled as a result of mistake or a misidentification of the material; and</li>
    <li>The content provider's, member's or user's name, address, telephone number, and, if available, email address and a statement that such person or entity consents to the jurisdiction of the Court for the judicial district in which the content provider's, member's or user's address is located, or if the content provider's, member's or user's address is located outside South Africa, for any judicial district in which SkedApp is located, and that such person or entity will accept service of process from the person who provided notification of the alleged infringement.</li>
</ul>

<p>Removal.  If a counter-notice is received by the Designated person/institution, SkedApp may send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed material or cease disabling it in 10 business days. Unless the copyright owner files an action seeking a court order against the content provider, member or user, the removed material may be replaced or access to it restored in 10 to 14 business days or more after receipt of the counter-notice, at SkedApp’s discretion.</p>

<p>Address for Designated Agent. Please contact SkedApp’s Designated person to Receive Notification of Claimed Infringement at the following address:</p>
<ul class="unstyled">
    <li>Copyright Agent</li>
    <li>SkedApp (Pty) Ltd.</li>
    <li> 368/4 Cormallen Hill Estate</li>
    <li>Achilles Road</li>
    <li>Olympus</li>
    <li>South Africa </li>
    <li>Email to: <a href="mailto:info@skedapp.co.za">info@skedapp.co.za</a></li>
</ul>
<a href="#top">back to top</a>

<div id="entire-agreement"></div>
<h4>22. Entire Agreement</h4>
<p>These Terms of Use and any supplemental terms, policies, rules and guidelines posted on the Site, including the Privacy Policy, constitute the entire agreement between you and us and supersede all previous written or oral agreements. If any part of these Terms of Use is held invalid or unenforceable, that portion shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original intentions of the parties, and the remaining portions shall remain in full force and effect. The failure of SkedApp to exercise or enforce any right or provision of these Terms of Use shall not constitute a waiver of such right or provision. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.</p>
<a href="#top">back to top</a>

<div id="choice-of-law"></div>
<h4>23. Choice of Law and Dispute Resolution</h4>
<p>These Terms of Use shall be deemed to have been entered into and shall be construed and enforced in accordance with the laws of North Gauteng as applied to contracts made and to be performed entirely within Northern Gauteng, without giving effect to the state’s conflicts of law statute. Any controversy, dispute or claim arising out of or related to these Terms of Use or your use of the Services shall be settled by final and binding arbitration to be conducted by an arbitration tribunal in the Pretoria region. The arbitration tribunal shall consist of one arbitrator. The decision or award of the arbitrator shall be final, and judgment upon such decision or award may be entered in any competent court or application may be made to any competent court for judicial acceptance of such decision or award and an order of enforcement. The parties agree that the arbitrator shall have the authority to impose equitable and injunctive relief as well as to award monetary relief, as the arbitrator deems appropriate.</p>
<a href="#top">back to top</a>

<div id="assignment"></div>
<h4>24. Assignment</h4>
<p>We may assign this contract at any time to any parent, subsidiary, or any affiliated company, or as part of the sale to, merger with, or other transfer of our company to another entity. We will use reasonable efforts to notify you regarding any change of ownership. You may not assign, transfer or sublicense these Terms of Use to anyone else and any attempt to do so in violation of this section shall be null and void.</p>
<a href="#top">back to top</a>

<div id="eligibility"></div>
<h4>25. Eligibility</h4>
<p>You must be 18 years of age or over, or the legal age to form a binding contract in your jurisdiction if that age is greater than 18 years of age, to register with us or use the Site and the Services. If you are between the ages of 13 and 18 or the applicable legal age in your jurisdiction, you can use the Site or Services only in conjunction with, and under the supervision of, your parent or guardian who has agreed to the Terms of Use. If you are under the age of 13, you may not use the Site or Services, in compliance with the Children's Online Privacy Protection Act. If you are the parent or legal guardian of a child under the age of 18, you may use the Site or Services on behalf of such minor child. By using the Site or Services on behalf of a minor child, you represent and warrant that you are the parent or legal guardian of such child and that all references in these Terms of Use to “you” shall refer to such child or such other individual for whom you have authorization to enter into these Terms of Use on their behalf, and you in your capacity as the parent or legal guardian of such child or as the authorized party of such individual. If you do not qualify under these terms, do not use the Site or Services. Membership in the Services is void where prohibited by applicable law, and the right to access the Site is revoked in such jurisdictions. By using the Site and/or the Services, you represent and warrant that you have the right, authority, and capacity to enter into these Terms of Use and to abide by all of the terms and conditions set forth herein. The Site is administered in the U.S. and intended for U.S. users; any use outside of the U.S. is at the users own risk and users are responsible for compliance with any local laws applicable to their use of the Services or the Site.</p>

<p>Last Updated on February 19, 2013.<br />
    Copyright (©) 2012-2013 SkedApp (Pty) Ltd. All rights reserved.</p>
<a href="#top">back to top</a>
{% endblock %}