{% extends "SkedAppServiceBundle::layout.html.twig" %}
{% block title %}Add a new service{% endblock %}

{% block body %}
    {% block menu %}
    <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %} 
    </div>       
    {% endblock menu %}    
    {% block content %}
     <div class="span9">
                <h3>Add a new service</h3>
                <br />
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
        {#start form display===============================#}
            {% include "SkedAppServiceBundle:Service:form.create.html.twig" %}
        {#end form display===============================#}   
    </div>  
    {% endblock content %}   
{% endblock body %}