{% extends "SkedAppServiceBundle::layout.html.twig" %}
{% block title %}Edit service{% endblock %}

{% block alert %}
    {% include "::alert.html.twig" %}
{% endblock %}  

{% block body %}
<div class="row-fluid body-secondary">
    <div class="span5">
        <div class="dash-forms-background">
        <h3>Edit service</h3>
        {% include "SkedAppServiceBundle:Service:form.edit.html.twig" %}
        </div>
    </div>
    <div class="span7">
        <div class="map-box">
                <h3><span class="asterisk">*</span>Hint</h3>
            Remember to validate your email as soon as you have submitted the form.
            <div class="spacer1"></div>
                <div class="g-maps"></div> <!-- Temp Map -->
                <small class="whiteText">Use the controls on the map to pinpoint your position.</br> Click and hold to drag the marker to where you are.</small>
                <div class="clearfix"></div>  
            </div> <!-- End map-box -->
    </div>
 </div>	 
{% endblock body %}