<div class="row-fluid">
    <ul class="nav nav-tabs pull-right">
        {% if is_granted('ROLE_ADMIN') %}
            {% if controller == 'service_provider'%}
                <li class="active"><a href="{{ path('sked_app_company_list') }}" title="list service providers">Service Providers</a></li>
            {% else %}
                <li><a href="{{ path('sked_app_company_list') }}" title="list service providers">Service Providers</a></li>
            {% endif %}  
                
            {% if controller == 'categories'%}
                <li class="active"><a href="{{ path('sked_app_category_list')}}" title="list categories">Categories</a></li>
            {% else %}    
                <li><a href="{{ path('sked_app_category_list')}}" title="list categories">Categories</a></li>
            {% endif %}    
                
        
        <li><a href="#">Services</a></li>
        <li><a href="#">Consultants</a></li>
        <li><a href="#">Customers</a></li>
        <li><a href="#">Bookings</a></li>
        {% endif%}
    </ul>
</div> <!-- End .row-fluid -->
<div class="row-fluid nav-active"><!-- This is just a spacer to show which page is active --></div>
<div class="row-fluid content-devider"><!-- This is just a visual devider to seperate the content from the navigation --></div>

