.drop-shadow.top {
  box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.4);
}

.drop-shadow.right {
  box-shadow: 4px 0 2px -2px rgba(0,0,0,0.4);
}

.drop-shadow.bottom {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}

.drop-shadow.left {
  box-shadow: -4px 0 2px -2px rgba(0,0,0,0.4);
}

.emphasize-dark {
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

.emphasize-light {
  box-shadow: 0 0 0 10px rgba(255,255,255,.25);
}

.emphasize-inset {
  box-shadow: inset 0 0 7px 4px rgba(255,255,255,.5);
}

.emphasize-border {
  box-shadow: inset 0 0 0 7px rgba(255,255,255,.5);
}

a:hover { color: #0AF; }

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.content {
    font: 1em/1.4 Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.title {
    font: 1.7em/1.2 Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.sort-image{
   padding: 1px;
   display: inline;
}

.sort-image img.desc{
    margin-top: -5px;
}

.sort-image img.asc{
    margin-top: 5px;
}

.formSearch {
  width: 400px;
  float: left;
}

.divSearchMap {
  width: 400px;
  height: 300px;
  float: right;
  margin-top: 80px;
  margin-right: 80px;
}

.spnNotes {
  font-size: 9px;
  font-style: italic;
}

/* Search Results */

.divSearchResultsItem {
  border: solid 1px;
  background-color: #eeeeee;
}