.drop-shadow.top {
  box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.4);
}

.drop-shadow.right {
  box-shadow: 4px 0 2px -2px rgba(0,0,0,0.4);
}

.drop-shadow.bottom {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}

.drop-shadow.left {
  box-shadow: -4px 0 2px -2px rgba(0,0,0,0.4);
}

.emphasize-dark {
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

.emphasize-light {
  box-shadow: 0 0 0 10px rgba(255,255,255,.25);
}

.emphasize-inset {
  box-shadow: inset 0 0 7px 4px rgba(255,255,255,.5);
}

.emphasize-border {
  box-shadow: inset 0 0 0 7px rgba(255,255,255,.5);
}

a:hover { color: #0AF; }

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.content {
    font: 1em/1.4 Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.title {
    font: 1.7em/1.2 Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.sort-image{
   padding: 1px;
   display: inline;
}

.sort-image img.desc{
    margin-top: -5px;
}

.sort-image img.asc{
    margin-top: 5px;
}

#map_canvas { height: 310px }

/* Search Results */

/*.divSearchResultsItem {
  border: solid 1px;
  background-color: #eeeeee;
  padding: 12px;
}*/

/*.lblView {
  float: left;
  width: 45%;
  font-weight: bold;
}*/

/*.divViewData {
  float: left;
  width: 54%;
}*/

/*.divConsultantInfo {
  width: 300px;
  float: left;
}*/

/*.divTimeSlotsAround {
  width: 543px;
  float: right;
}*/

/*.divTimeSlotContainer {
  border: solid 1px;
  border-radius: 4px;
  background-color: #fbb13e;
}*/

.divTimeSlotAvailable, .divTimeSlotTaken {
  width: 91px;
  margin: 2px;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  border: solid 1px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-table;
}

.divTimeSlotAvailable {
  color: #233805;
  background-color: #f9cd89;
}

.divTimeSlotsAllTaken {
  border: solid 1px;
  border-radius: 4px;
  background-color: #d4002b;
  color: #233805;
}

.divTimeSlotTaken {
  color: #d4002b;
}

.divTimeSlotAvailable a, .divTimeSlotTaken a {
  text-decoration: none;
}

.spnTimeSlotNotes {
  font-size: 10px;
  font-style: italic;
}

.spnSearchInstructions {
  margin-left: 120px;
  margin-right: 80px;
}

/* Search form */

/*.divSearchAreaAround {
  width: 95%;
  margin: auto;
  margin-top: 22px;
}*/

/*.divSearchFormAround {
  width: 49%;
  float: left;
}*/

/*.divSearchMapAround {
  width: 49%;
  float: right;
}*/

/*.formSearch {
  width: 400px;
  float: left;
}*/

/*.divSearchMap {
  width: 400px;
 height: 300px;
  float: right;
  margin-right: 80px;
}*/

/*.spnNotes {
  font-size: 9px;
  font-style: italic;
}*/

/* Overriding Bootstrap CSS to fit screens on 1024x768 */


.form-horizontal .controls {
  margin-left: 30px;
  margin-bottom: 8px;
}

/* Fixing layout on consultant details screen */

.divTimeSlotContainer {
  margin-left: 42px;
}

/* Booking Tooltip */
.divBookingTooltip {
  font-size: 9px;
  white-space: nowrap;
}

.formBackground{
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 0 8px 0px 0;
background: #02a7dd;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#02a7dd), to(#03436f));
background: -webkit-linear-gradient(#02a7dd, #03436f);
background: -moz-linear-gradient(#02a7dd, #03436f);
background: -ms-linear-gradient(#02a7dd, #03436f);
background: -o-linear-gradient(#02a7dd, #03436f);
background: linear-gradient(#02a7dd, #03436f);
padding-top:10px; margin: 0px;
height: 360px;
}


.indexfooter{
width: 100%;
text-align: center;
margin:auto;
background: #333;
color: #fff;
padding: 4px 0 0 0;
line-height: 30px;
}

.tabs a {
				padding:5px 10px;
				display:inline-block;
				background:#02A7DD;
				color:#fff;
				text-decoration:none;
        width: 15%;
        height: 50px;
        text-align: center;
        line-height:55px;
        border-radius: 5px 5px 0 0; 
			}
      
.tabsOrange a {
				padding:5px 10px;
				display:inline-block;
				background:#fc9504;
				color:#fff;
				text-decoration:none;
        width: 15%;
        height: 50px;
        text-align: center;
        line-height:55px;
        border-radius: 5px 5px 0 0; 
			}
      
.tabsGreen a {
				padding:5px 10px;
				display:inline-block;
				background:#aabc01;
				color:#fff;
				text-decoration:none;
        width: 15%;
        height: 50px;
        text-align: center;
        line-height:55px;
        border-radius: 5px 5px 0 0; 
			}      
.tabs li {
				list-style:none;
				display:inline;
			}
