.drop-shadow.top {
  box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.4);
}

.drop-shadow.right {
  box-shadow: 4px 0 2px -2px rgba(0,0,0,0.4);
}

.drop-shadow.bottom {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}

.drop-shadow.left {
  box-shadow: -4px 0 2px -2px rgba(0,0,0,0.4);
}

.emphasize-dark {
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

.emphasize-light {
  box-shadow: 0 0 0 10px rgba(255,255,255,.25);
}

.emphasize-inset {
  box-shadow: inset 0 0 7px 4px rgba(255,255,255,.5);
}

.emphasize-border {
  box-shadow: inset 0 0 0 7px rgba(255,255,255,.5);
}

a:hover { color: #0AF; }

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.content {
  font: 1em/1.4 Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.title {
  font: 1.7em/1.2 Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.sort-image{
  padding: 1px;
  display: inline;
}

.sort-image img.desc{
  margin-top: -5px;
}

.sort-image img.asc{
  margin-top: 5px;
}

#map_canvas { height: 310px }

/* Search Results */

/*.divSearchResultsItem {
  border: solid 1px;
  background-color: #eeeeee;
  padding: 12px;
}*/

/*.lblView {
  float: left;
  width: 45%;
  font-weight: bold;
}*/

/*.divViewData {
  float: left;
  width: 54%;
}*/

/*.divConsultantInfo {
  width: 300px;
  float: left;
}*/

/*.divTimeSlotsAround {
  width: 543px;
  float: right;
}*/

/*.divTimeSlotContainer {
  border: solid 1px;
  border-radius: 4px;
  background-color: #fbb13e;
}*/

.divTimeSlotAvailable, .divTimeSlotTaken {
  width: 91px;
  margin: 2px;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  border: solid 1px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-table;
}

.divTimeSlotAvailable {
  color: #233805;
  background-color: #f9cd89;
}

.divTimeSlotsAllTaken {
  border: solid 1px;
  border-radius: 4px;
  background-color: #d4002b;
  color: #233805;
}

.divTimeSlotTaken {
  color: #d4002b;
}

.divTimeSlotAvailable a, .divTimeSlotTaken a {
  text-decoration: none;
}

.spnTimeSlotNotes {
  font-size: 10px;
  font-style: italic;
}

.spnSearchInstructions {
  margin-left: 120px;
  margin-right: 80px;
}

/* Search form */

/*.divSearchAreaAround {
  width: 95%;
  margin: auto;
  margin-top: 22px;
}*/

/*.divSearchFormAround {
  width: 49%;
  float: left;
}*/

/*.divSearchMapAround {
  width: 49%;
  float: right;
}*/

/*.formSearch {
  width: 400px;
  float: left;
}*/

/*.divSearchMap {
  width: 400px;
 height: 300px;
  float: right;
  margin-right: 80px;
}*/

/*.spnNotes {
  font-size: 9px;
  font-style: italic;
}*/

/* Overriding Bootstrap CSS to fit screens on 1024x768 */


.form-horizontal .controls {
  margin-left: 30px;
  margin-bottom: 8px;
}

/* Fixing layout on consultant details screen */

.divTimeSlotContainer {
  margin-left: 42px;
}

/* Booking Tooltip */
.divBookingTooltip {
  font-size: 9px;
  white-space: nowrap;
}

.formBackground{
  -webkit-box-shadow: 2px -4px 7px rgba(0, 0, 0, 1);
  -moz-box-shadow:    2px -4px 7px rgba(0, 0, 0, 1);
  box-shadow:         2px -4px 7px rgba(0, 0, 0, 1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 0 8px 0px 0;
  background: transparent url("../img/blueGradient.jpg");
  padding-top:10px; margin: 0px;
  height: 420px;
  border-left: 1px solid #025b99;
}

.formOrangeBackground{
  -webkit-box-shadow: 2px -4px 7px rgba(0, 0, 0, 1);
  -moz-box-shadow:    2px -4px 7px rgba(0, 0, 0, 1);
  box-shadow:         2px -4px 7px rgba(0, 0, 0, 1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 0 8px 0px 0;
  background: transparent url("../img/orangeBackground.png");
  padding-top:10px; margin: 0px;
  height: 420px;
  border-left: 1px solid #ff8a00;
}

.formGreenBackground{
  -webkit-box-shadow: 2px -4px 7px rgba(0, 0, 0, 1);
  -moz-box-shadow:    2px -4px 7px rgba(0, 0, 0, 1);
  box-shadow:         2px -4px 7px rgba(0, 0, 0, 1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 0 8px 0px 0;
  background: transparent url("../img/greenBackground.png");
  padding-top:10px; margin: 0px;
  height: 420px;
  border-left: 1px solid #9dae01;
}

/* Calendar for SP */
.fc-agenda-slots td div {
  height: 120px !important;
}

.fc-corner-bottom .fc-event-inner {
  border-bottom-width: 4px !important;
  margin-bottom: 4px !important;
  height: auto !important;
}

.fc-event-inner {
  position: static !important;
}


.indexfooter{
  width: 100%;
  text-align: center;
  margin:auto;
  background: #333;
  color: #fff;
  padding: 4px 0 0 0;
  line-height: 30px;
  margin-bottom: -10px;
  margin-top: 60px;
}

.blueTab {
  padding:5px 10px;
  display:inline-block;
  background: transparent url("../img/blueTab.png");
  color:#fff;
  text-decoration:none;
  width: 73px;
  height: 15px;
  text-align: center;
  line-height:20px;
  border-radius: 5px 5px 0 0;
  border: none;
  font-size: 12px;
  margin-left: 5px;
  float: left;
}

.tabs a:hover{
  color: #fff;
  text-decoration: none;
}

.orangeTab {
  padding:5px 10px;
  display:inline-block;
  background: transparent url("../img/orangeTab.png");
  color:#fff;
  text-decoration:none;
  width: 73px;
  height: 15px;
  text-align: center;
  line-height:20px;
  border-radius: 5px 5px 0 0;
  border: none;
  font-size: 12px;
  margin-left: -5px;
  float: left;
}

.greenTab {
  padding:5px 10px;
  display:inline-block;
  background: transparent url("../img/greenTab.png");
  color:#fff;
  text-decoration:none;
  width: 73px;
  height: 15px;
  text-align: center;
  line-height:20px;
  border-radius: 5px 5px 0 0;
  border: none;
  font-size: 12px;
  margin-left: -5px; 
}

.tabs li {
  list-style:none;
  display:inline;
}

.quickFindArrow {
  background: transparent url("../img/rightTab.jpg") no-repeat;
}

.twitter{
  background: transparent url("../img/twitter.png") no-repeat;
  height: 32px;
  width: 32px;
  float: right;
  margin-left: 5px;
  margin-top: 1px;
  cursor: pointer;
}

.facebook{
  background: transparent url("../img/fb.png") no-repeat;
  height: 32px;
  width: 32px;
  float: right;
  margin-left: 5px;
  cursor: pointer;
}

.BodyWidth {
  width: 940px;
}

.bodyContainer{
  width: 940px;
  margin: auto;
}

.logoHandler {
  margin-left: 40px;
  width: 23%;
}

.headerLabel{
  float: right;
  margin-top: 111px;
  line-height: 0px;
}

.headerWrapper{
  float: right;
  width: 100%;
}

.greyBackground{
  background: transparent url(../img/greyBackground.jpg) repeat 0 0;
  border-radius: 8px 8px 8px 0;
  height: 421px;
  padding-top: 40px;
  margin-left: 0px;
  width: 940px;
}

.tabsHolder{
  margin-top: -37px;
  margin-left: 0px;
  width: 45%;
}

.width360px{
  height: 360px;
}

.marginRight30px{
  margin-right: 30px;
}

.whiteText{
  color: #fff;
  font-size: 14px;  
}

.socialLabels{
  color: #fff;
  font-size: 14px;  
  float: right;
  margin-right: 29px;
  line-height: 30px;
}

.mapInterface{
  padding-left: 5px;
  width: 51%;
}

.marginLeft0px{
  margin-left: 0px;
}

.form-horizontal .control-label {
  color: #fff;
  float: left;
  margin-left: 30px;
  padding-top: 5px;
  text-align: left;
  width: 100%;
}

.form-horizontal .control-group {
  margin-bottom: 16px;
}

input.span4, textarea.span4, .uneditable-input.span4 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: #333 0px 1px 5px;
  -moz-box-shadow: #333 0px 1px 5px;
  box-shadow: #333 0px 1px 5px;  
  width: 91%;
}

.span4 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: #333 0px 1px 5px;
  -moz-box-shadow: #333 0px 1px 5px;
  box-shadow: #333 0px 1px 5px; 
  width: 94%;
}

.submitButton{
  float: right;
  margin-right: 28px;
}

.indexfooter a{
  color: #ccc;
}

.facebookTwitter{
 padding-left: 5px;
 padding-top: 8px; 
}

.margintop5px{
  margin-top: 5px;
}

.mapRadius{
  margin-right: 30px;
  border-radius: 5px;
}