{% extends "SkedAppConsultantBundle::layout.html.twig" %}
{% block title %}Add a new consultant{% endblock %}

{% block body %}
    {% block menu %}
    <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %} 
    </div>       
    {% endblock menu %}    
    {% block content %}
    <div class="span9">
        <h3>Add a new consultant</h3>
        <div class="span9" style="margin-left: -15px">
           {% set vars = {'action': 'Create'} %}
           {% include 'SkedAppConsultantBundle::breadcrumb.html.twig' with vars  %}
        </div>
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
        <div class="span9" style="margin-left: 0px">
        {#start form display===============================#}
            {% include "SkedAppConsultantBundle:Consultant:form.create.html.twig" %}
        {#end form display===============================#} 
        </div>        
    </div>  
    {% endblock content %}   
{% endblock body %}