{% extends "SkedAppConsultantBundle::layout.html.twig" %}
{% block title %}Add a new consultant{% endblock %}

{% block alert %}
    {% include "::alert.html.twig" %}
{% endblock %}  

{% block body %}
<div class="row-fluid body-secondary">
    <div class="span5">
        <div class="dash-forms-background">
        <h3>Add a new consultant</h3>
        {% include "SkedAppConsultantBundle:Consultant:form.create.html.twig" %}
        </div>
    </div>
    <div class="span7">
        <div class="map-box">
            <h3><span class="asterisk">*</span>Hint</h3>
            <ol>
                <li>Provide a unique <span class="label label-inverse">Email Address</span> for the consultant.</li>
                <br />
            </ol>
        </div>
    </div>
</div> 
{% endblock body %}