
{% extends "SkedAppConsultantBundle::layout.html.twig" %}
{% block title %}List consultants{% endblock %}

{% block body %}
    {% block menu %}
     <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %} 
     </div>       
    {% endblock menu %}    
    {% block content %}
     <div class="span9">
        <h3>Manage consultants</h3>
        <div class="span5" style="margin-left: -15px">
           {% set vars = {'action': 'List'} %}
           {% include 'SkedAppConsultantBundle::breadcrumb.html.twig' with vars  %}
        </div>
        <div class="span3 pull-right">
            <span><a href="{{ path('sked_app_consultant_new') }}" class="btn btn-warning btn-small pull-right"><i class="icon-white icon-plus-sign"></i> Add Consultant</a></span>
        </div>  
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
        {% include "SkedAppConsultantBundle:Consultant:list.table.html.twig" %}
     </div>  
    {% endblock content %}   
{% endblock body %}