{% extends "SkedAppConsultantBundle::layout.print.html.twig" %}

{% block title %}Print booking details{% endblock %}

{% block stylesheets %}
<link href="{{ asset('/css/fullcalendar.css') }}" rel="stylesheet">
<link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
{% endblock %}

{% block jquery_ui %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>
{% endblock jquery_ui %}

{% block body %}
    {% block content %}
        <h3>Print bookings</h3>                
        <div class="span5" style="margin-left: 0px">
           {% set vars = {'action': 'Print'} %}
           {% include 'SkedAppConsultantBundle::breadcrumb.html.twig' with vars  %}
        </div>
        
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}

        {% if not print %}
            {#start form display===============================#}
                {% include "SkedAppSearchBundle:Search:form.search.date.html.twig" %}
            {#end form display===============================#}
        {% endif %}

        {% include "SkedAppBookingBundle:Booking:list.print.html.twig" %}

    {% endblock content %}
{% endblock body %}