{% extends "SkedAppConsultantBundle::layout.html.twig" %}

{% block title %}Print booking details{% endblock %}

{% block stylesheets %}
<link href="{{ asset('/css/fullcalendar.css') }}" rel="stylesheet">
<link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
{% endblock %}

{% block jquery_ui %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>
{% endblock jquery_ui %}

{% block body %}
  <div class="row-fluid body-secondary" style="margin-top: 20px;">
    {% block menu %}
    <div class="span3 bs-docs-sidenav">
       {% if is_granted('ROLE_ADMIN') %}
            {% include "::menu.html.twig" %}
       {% elseif is_granted('ROLE_CONSULTANT_USER') %}
            {% include "SkedAppConsultantBundle:Consultant:menu.html.twig" with {'consultant' : consultant } %}
       {% endif %}
    </div>
    {% endblock menu %}
    {% block content %}
    <div class="span12" style="margin-left: 0px">
        <h3>Print bookings</h3>                
        <div class="span5" style="margin-left: 0px">
           {% set vars = {'action': 'Print'} %}
           {% include 'SkedAppConsultantBundle::breadcrumb.html.twig' with vars  %}
        </div>
        <div class="clearfix"></div>
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}

        {#start form display===============================#}
        <div class="span6">
            {% include "SkedAppSearchBundle:Search:form.search.date.html.twig" %}
        </div>
        <div class="clearfix"></div>
        {#end form display===============================#}

        {% include "SkedAppBookingBundle:Booking:list.print.html.twig" %}
    </div>
</div>
    {% endblock content %}
{% endblock body %}