
<ul class="breadcrumb">
    <li>
        <a href="{{ path('_welcome')}}">Home</a> <span class="divider">/</span>
    </li>
    <li class="active">
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('sked_app_consultant_list')}}">Consultants</a> <span class="divider">/</span>
        {% else %}
        Consultants<span class="divider">/</span>
        {% endif %}
    </li>
    <li class="active">{{ action }}</li>
</ul>

