
{% extends "SkedAppMemberBundle::layout.html.twig" %}
{% block title %}Add member{% endblock %}

{% block alert %}
    {% include "::alert.html.twig" %}
{% endblock %}  

{% block body %}
<div class="row-fluid body-secondary">
    <div class="span5">
        <div class="dash-forms-background">
            <h3>Add member</h3>
            {% include "SkedAppMemberBundle:Member:form.create.html.twig" %}
        </div>
     </div>
     <div class="span7">
        <div class="hint-box">
            <h3><span class="asterisk">*</span>Hints</h3>
            <ol>
                <li>Please select a <span class="label label-inverse">Service provider</span> to associate with member, <span class="label label-inverse">Super admin</span> accounts can only be linked with Skedapp service provider.</li>
                <br />
                <li>Provide a unique valid <span class="label label-inverse">Email address</span>.</li>
            </ol>
        </div>            	
    </div>
</div> <!-- End .row-fluid -->
{% endblock body %}