{% extends "SkedAppCompanyBundle::layout.html.twig" %}
{% block title %}Edit company{% endblock %}

{% block body %}
<div class="container">
    {% block menu %}
        <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %}
            </div>
    {% endblock menu %}
    {% block content %}
            <div class="span7">
                <h4>Edit service provider</h4>
                <br />
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}

                <div class="tabbable"> <!-- Only required for left/right tabs -->
                        <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Personal details</a></li>
                        <li><a href="#tab2" data-toggle="tab">Photos</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">

                        {#start form display===============================#}
                            {% include "SkedAppCompanyBundle:Company:form.edit.html.twig" %}
                        {#end form display===============================#}

                        </div>
                        <div class="tab-pane" id="tab2">
                            <p>Images here</p>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock content %}
        </div>
{% endblock body %}