<table id="sortable" class="table table-striped table-condensed tablesorter">
        <thead>
          <tr>
            <th>Caption</th>
            <th>Preview</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for company_photo in company_photos %}
          <tr>
            <td>{{company_photo.caption}}</td>
            <td><img src="/uploads/company_photos/{{ company_photo.id }}.{{ company_photo.path }}" width="150px" height="120px" alt="profile picture" class="img-polaroid"></td>
            <td><a href='{{path('sked_app_company_photo_delete', {'company_id': company.id, 'id': company_photo.id }) }}' rel="tooltip" title="click to delete"><i class="icon-trash"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
 </table>
