
{% extends "SkedAppCustomerBundle::layout.html.twig" %}
{% block title %}SkedApp | My bookings{% endblock %}

{% block body %}
    {% block menu %}
     <div class="span3 bs-docs-sidenav">
           {% include "SkedAppCustomerBundle::menu.html.twig" with {'customer' : customer } %} 
     </div>       
    {% endblock menu %}    
    {% block content %}
     <div class="span9">
        <h3>My bookings</h3>
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
        <div class="span9" style="margin-left: 0px">
            {% include "SkedAppCustomerBundle:Customer:bookings.list.table.html.twig" %}
        </div>        
     </div>  
    {% endblock content %}   
{% endblock body %}