
{% extends "SkedAppCustomerBundle::layout.html.twig" %}
{% block title %}List customers{% endblock %}

{% block body %}
    {% block menu %}
     <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %} 
     </div>       
    {% endblock menu %}    
    {% block content %}
     <div class="span9">
        <h3>Manage customers</h3>
        <div class="span9" style="margin-left: -15px">
           {% set vars = {'action': 'List'} %}
           {% include 'SkedAppConsultantBundle::breadcrumb.html.twig' with vars  %}
        </div>
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
        <div class="span9" style="margin-left: 0px">
        {% include "SkedAppCustomerBundle:Customer:list.table.html.twig" %}
        </div>        
     </div>  
    {% endblock content %}   
{% endblock body %}