{% extends "SkedAppMemberBundle::layout.html.twig" %}

{% block title %}Your account is now active{% endblock %}

{% block body %}
<div class="span12">
        <h3 class="align_header">Your account is now active</h3>
        <br />
       <section class="content">
           <p style="margin-left: 30px">You have successfully verified your email address and activated your account, Please proceed to the login page to get started.</p>
       </section>
</div>
{% endblock body %}

