{% extends "SkedAppCustomerBundle::layout.customer.html.twig" %}

{% block title %}SkedApp | Your Account is Now Active{% endblock %}

{% block body %}
<div class="row-fluid body-secondary">
    <div class="span12">
        <h3>Your Account is Now Active</h3>
        <div class="spacer1"></div>
        You have successfully verified your email address and activated your account, Please proceed to the login page to get started.
     </div> <!-- Dashboard Content --> 
</div>
{% endblock body %}