{% extends "SkedAppCustomerBundle::layout.html.twig" %}

{% block title %}Register account{% endblock %}

{% block body %}
<div class="row-fluid body-secondary">
<div style="margin-left: 30px;" class="span5">
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}

        {% include "SkedAppCustomerBundle:Customer:form.register.account.html.twig" %}
    
    
    </div>
<div class="span6">
        <div class="hint-box">
            <h4><i class="icon-info-sign"></i>&nbsp; Hints </h4>
            <br />
            <p class="pull-right">
                    <ol>
                        <li>Provide email address.</li>
                        <br />
                        <li>Fill in recaptcha field or reload it if you cannot read the cryptic text.</li>
                    </ol>

            </p>
        </div>
</div>
</div>
{% endblock body %}
