{% extends "SkedAppMemberBundle::layout.html.twig" %}

{% block title %}Your account is now active{% endblock %}

{% block body %}
<div class="row-fluid body-secondary">
    <div class="span12">
        <h3>Please Check Your Email</h3>
        <div class="spacer1"></div>
        You have successfully verified your email address and activated your account, Please proceed to the login page to get started.
     </div> <!-- Dashboard Content --> 
</div>
{% endblock body %}