{% extends "SkedAppCustomerBundle::layout.html.twig" %}
{% block title %}Customer details{% endblock %}

{% block body %}
    {% block menu %}
    <div class="span3 bs-docs-sidenav">
         {% include "::menu.html.twig" %} 
    </div>       
    {% endblock menu %}    
    {% block content %}
    <div class="span9">
        <h3>Customer details</h3>
        <div class="span9" style="margin-left: -15px">
           {% set vars = {'action': 'Profile'} %}
           {% include 'SkedAppConsultantBundle::breadcrumb.html.twig' with vars  %}
        </div>
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
        
        <div class="span9" style="margin-left: 0px">
        <br />    
        {#start form display===============================#}
            {% include "SkedAppCustomerBundle:Customer:form.show.html.twig" %}
        {#end form display===============================#}  
        </div>        
    </div>  
    {% endblock content %}   
{% endblock body %}