{% extends "SkedAppBookingBundle::layout.html.twig" %}
{% block title %}SkedApp | Add a booking{% endblock %}

{% block stylesheets %}
<link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>
{% endblock %}

{% block alert %}
    {% include "::alert.html.twig" %}
{% endblock %}

{% block body %}
<div class="row-fluid body-secondary">
    <div class="span5">
        <div class="dash-forms-background">
            <h3>Add a booking</h3>
        {% include "SkedAppBookingBundle:Booking:form.add.html.twig" %}
        </div>
    </div>
    <div class="span6">
        <h3><span class="asterisk">*</span>Hint</h3>
        <ol>
            <li>Select the booking <span class="label label-inverse">Date</span> for your appointment.</li>
            <br />
            <li>Choose a <span class="label label-inverse">Start time</span> for your appointment.</li>
            <br />
            <li><span class="label label-inverse">Override end time</span> allows you to override the appointment end time determined by the service. If checked the end time will be used to determine the appointment end time.</li>
            <br />
            <li>We currently have two types of customers, A customer with a skedapp account which can be selected by choosing <span class="label label-inverse">Link an existing customer</span> and the second type of customers is only linked to the service provider .</li>
            <br />
        </ol>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    
    
    jQuery(function($){
        $( "#Booking_appointmentDate" ).datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            minDate: 0,
            maxDate: "+1M +10D",
            dateFormat: 'yy-mm-dd'
        });
    });
    
    $('#override').click(function(){
        $('.endtime').toggle();
    });
    
    $('#divCustomerSelect').hide();
    $('#divCustomerPotentialSelect').hide();

    $('#Booking_customerOrNot_1').click(function() {
        $('#divCustomerPotentialSelect').show();
        $('#divCustomerSelect').hide();
        $('#CustomerPotential_firstName').attr("required", "true");
        $('#CustomerPotential_lastName').attr("required", "true");
        $('#CustomerPotential_email').attr("required", "true");
        $('#CustomerPotential_mobileNumber').attr("required", "true");
    });

    $('#Booking_customerOrNot_0').click(function() {
        $('#divCustomerPotentialSelect').hide();
        $('#divCustomerSelect').show();
        $('#CustomerPotential_firstName').removeAttr("required");
        $('#CustomerPotential_lastName').removeAttr("required");
        $('#CustomerPotential_email').removeAttr("required");
        $('#CustomerPotential_mobileNumber').removeAttr("required");
    });

});
    </script>
{% endblock body %}