
{% extends "SkedAppBookingBundle::layout.html.twig" %}
{% block title %}Edit booking{% endblock %}

{% block stylesheets %}
<link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
{% endblock %}


{% block jquery_ui %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>
{% endblock jquery_ui %}

{% block body %}

    {% block menu %}
    <div class="span3 bs-docs-sidenav">
           {% include "::menu.html.twig" %} 
    </div>       
    {% endblock menu %}    
    {% block content %}
    <div class="span9">
        <h3>Edit booking</h3>
        <br />
        {% block alert %}
            {% include "::alert.html.twig" %}
        {% endblock %}
            {% include "SkedAppBookingBundle:Booking:form.edit.html.twig" %}
    </div>  
    {% endblock content %}   
<script type="text/javascript">
$(document).ready(function() {
    
    jQuery(function($){
        $( ".datepicker" ).datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            minDate: 0, 
            maxDate: "+1M +10D", 
            dateFormat: 'yy-mm-dd'
        });
    });
});
</script>
{% endblock body %}
